In [1]:
import pandas as pd
import numpy as np 
# numpy..numerical python deals with multidimensional array...matrices
import math

In [2]:
Smartphones=pd.read_csv('updated_smartphone.csv')
Ratings=pd.read_csv('updated_rating.csv')
Mean= Ratings.groupby(['user_id'], as_index = False, sort = False).mean().rename(columns = {'ratings': 'rating_mean'})[['user_id','rating_mean']]
Ratings= pd.merge(Ratings, Mean, on ='user_id')
Ratings['rating_adjusted']=Ratings['ratings']-Ratings['rating_mean']
Ratings

     user_id  smartphone_id  ratings  rating_mean  rating_adjusted
0          1              1      3.0        3.250           -0.250
1          1              2      3.5        3.250            0.250
2          1              4      2.5        3.250           -0.750
3          1              5      2.0        3.250           -1.250
4          1              7      3.0        3.250           -0.250
..       ...            ...      ...          ...              ...
419       25             13      2.0        3.375           -1.375
420       25             15      5.0        3.375            1.625
421       25             17      1.0        3.375           -2.375
422       25             18      3.0        3.375           -0.375
423       25             23      1.5        3.375           -1.875

[424 rows x 5 columns]

In [32]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(Ratings, test_size=0.20) 
test_data

     user_id  smartphone_id  ratings  rating_mean  rating_adjusted
262       16              9      5.0     3.052632         1.947368
122        8              4      3.5     3.222222         0.277778
182       11             11      5.0     3.178571         1.821429
134        8             22      1.5     3.222222        -1.722222
348       21              7      2.0     3.153846        -1.153846
..       ...            ...      ...          ...              ...
54         3             23      4.5     3.368421         1.131579
125        8              7      3.0     3.222222        -0.222222
124        8              6      4.5     3.222222         1.277778
258       16              4      1.5     3.052632        -1.552632
239       15              4      2.5     3.315789        -0.815789

[85 rows x 5 columns]

In [33]:
test_rating_actual=test_data.loc[:,['user_id','smartphone_id','ratings']]
test_rating_actual

     user_id  smartphone_id  ratings
262       16              9      5.0
122        8              4      3.5
182       11             11      5.0
134        8             22      1.5
348       21              7      2.0
..       ...            ...      ...
54         3             23      4.5
125        8              7      3.0
124        8              6      4.5
258       16              4      1.5
239       15              4      2.5

[85 rows x 3 columns]

In [34]:
train_data

     user_id  smartphone_id  ratings  rating_mean  rating_adjusted
355       21             18      2.0     3.153846        -1.153846
279       17              9      3.0     3.100000        -0.100000
226       14              7      1.0     3.233333        -2.233333
411       25              5      2.0     3.375000        -1.375000
101        7              3      3.5     3.325000         0.175000
..       ...            ...      ...          ...              ...
35         2             19      5.0     3.294118         1.705882
183       11             14      1.0     3.178571        -2.178571
317       19             17      3.5     3.416667         0.083333
56         4              1      2.0     3.333333        -1.333333
213       13              8      3.0     3.375000        -0.375000

[339 rows x 5 columns]

In [35]:
#make pivot table ..train data
train_matrix=pd.pivot_table(train_data,index='user_id',columns='smartphone_id',values='ratings') #value with actual ratings
train_matrix

smartphone_id,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,3.5,NaN,NaN,NaN,NaN,3.0,NaN,3.5,2.5,...,1.5,5.0,NaN,4.0,NaN,3.0,4.5,NaN,NaN,NaN
2,4.5,2.0,NaN,1.0,3.5,4.0,5.0,2.5,4.5,2.5,...,NaN,1.0,NaN,5.0,NaN,NaN,NaN,3.5,NaN,NaN
3,4.5,3.0,4.0,5.0,2.5,4.0,NaN,4.5,NaN,3.0,...,NaN,NaN,5.00,2.5,2.0,NaN,4.0,NaN,NaN,3.0
4,2.0,2.5,NaN,4.0,4.5,NaN,5.0,3.5,NaN,NaN,...,NaN,4.0,3.00,4.5,5.0,NaN,NaN,NaN,NaN,2.5
5,4.0,4.5,3.0,NaN,3.5,4.5,5.0,2.0,2.0,4.0,...,1.0,NaN,NaN,NaN,2.5,NaN,1.5,NaN,NaN,NaN
6,3.0,NaN,3.5,2.5,NaN,NaN,2.5,5.0,3.0,5.0,...,NaN,NaN,3.50,NaN,NaN,NaN,3.0,1.0,NaN,NaN
7,NaN,4.0,3.5,2.0,4.0,NaN,2.5,NaN,5.0,4.5,...,NaN,4.5,NaN,3.5,1.5,2.0,4.0,3.0,5.0,NaN
8,2.0,5.0,3.0,NaN,2.0,NaN,NaN,3.5,NaN,4.5,...,NaN,3.0,NaN,4.0,NaN,NaN,NaN,4.5,3.5,NaN
9,2.0,NaN,2.5,3.5,NaN,4.5,1.0,5.0,2.0,4.0,...,NaN,NaN,5.00,1.5,3.0,NaN,2.5,NaN,3.0,1.5
10,NaN,1.0,NaN,2.5,3.5,NaN,4.5,3.5,4.0,NaN,...,NaN,NaN,2.00,1.5,5.0,4.5,2.0,NaN,3.5,3.0
11,1.0,2.5,NaN,3.0,NaN,3.5,NaN,NaN,NaN,NaN,...,NaN,NaN,3.50,4.0,NaN,4.5,2.5,NaN,NaN,NaN
12,NaN,5.0,5.0,NaN,4.5,NaN,2.0,3.0,NaN,4.0,...,1.0,4.0,2.00,4.0,NaN,NaN,NaN,NaN,NaN,3.5
13,2.5,NaN,NaN,NaN,NaN,4.0,4.5,3.0,NaN,NaN,...,2.5,NaN,3.50,NaN,3.0,4.5,NaN,NaN,5.0,1.0
14,NaN,NaN,3.5,3.0,NaN,4.5,1.0,NaN,NaN,2.0,...,1.5,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN
15,4.0,3.0,NaN,NaN,3.5,NaN,5.0,NaN,NaN,4.0,...,NaN,NaN,1.00,3.0,NaN,NaN,5.0,NaN,4.0,NaN
16,NaN,3.0,NaN,NaN,3.0,NaN,NaN,1.0,NaN,2.0,...,NaN,2.0,4.00,NaN,NaN,1.5,2.5,3.5,NaN,NaN
17,NaN,2.0,NaN,1.0,NaN,NaN,NaN,2.0,3.0,NaN,...,NaN,NaN,3.50,1.0,NaN,3.5,4.5,NaN,NaN,4.5
18,3.5,3.0,NaN,NaN,4.0,5.0,1.5,NaN,2.5,4.0,...,NaN,1.0,NaN,2.0,NaN,2.5,4.0,NaN,3.0,NaN
19,3.5,4.0,NaN,NaN,3.5,NaN,2.5,4.5,2.5,NaN,...,5.0,3.5,4.50,2.0,4.0,5.0,NaN,3.5,NaN,3.0
20,4.5,3.5,NaN,1.5,NaN,4.0,2.0,4.5,NaN,5.0,...,4.5,2.5,1.00,5.0,3.5,1.0,NaN,NaN,4.5,5.0
21,NaN,3.0,NaN,3.5,NaN,2.5,NaN,NaN,4.0,4.5,...,NaN,2.5,1.75,NaN,NaN,3.0,NaN,NaN,NaN,NaN
22,2.5,NaN,3.0,2.0,4.5,5.0,NaN,3.5,3.0,2.0,...,NaN,5.0,3.00,1.5,NaN,NaN,4.0,NaN,3.0,NaN
23,4.5,NaN,NaN,4.0,2.5,3.0,NaN,3.5,5.0,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,1.0,NaN,NaN,NaN
24,3.0,3.5,4.0,2.5,NaN,NaN,5.0,4.5,NaN,2.5,...,4.0,5.0,1.00,NaN,3.5,4.5,NaN,NaN,NaN,3.0
25,3.5,NaN,4.0,4.5,2.0,5.0,2.5,3.5,5.0,4.5,...,NaN,1.0,3.00,NaN,NaN,NaN,NaN,1.5,NaN,NaN

In [36]:
#make pivot table...test data
test_matrix=pd.pivot_table(test_data,index='user_id',columns='smartphone_id',values='ratings') #value with actual ratings
test_matrix

smartphone_id,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
user_id,,,,,,,,,,,,,,,,,,,,,
1,3.0,NaN,NaN,2.5,2.0,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,3.5,2.5,5.0
2,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5,NaN,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.5,NaN,NaN,NaN,NaN,1.5,NaN,4.5,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
6,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,3.5,NaN,4.5,3.0,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,5.0,1.5,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,4.5,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN
12,3.0,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,2.5,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN
15,NaN,NaN,NaN,2.5,NaN,NaN,NaN,1.5,NaN,NaN,...,2.5,5.0,NaN,NaN,4.0,NaN,NaN,3.5,NaN,NaN
16,5.0,NaN,NaN,1.5,NaN,3.0,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,4.5,3.0,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,4.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,1.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.5,NaN,5.0,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,4.0,NaN,NaN,NaN

In [37]:
#replacing values with adjusted ratings(normalization of ratings for cosine similarity)
final=pd.pivot_table(train_data,index='user_id', columns='smartphone_id', values='rating_adjusted')
final

smartphone_id,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,0.250000,NaN,NaN,NaN,NaN,-0.250000,NaN,0.250000,-0.750000,...,-1.750000,1.750000,NaN,0.750000,NaN,-0.250000,1.250000,NaN,NaN,NaN
2,1.205882,-1.294118,NaN,-2.294118,0.205882,0.705882,1.705882,-0.794118,1.205882,-0.794118,...,NaN,-2.294118,NaN,1.705882,NaN,NaN,NaN,0.205882,NaN,NaN
3,1.131579,-0.368421,0.631579,1.631579,-0.868421,0.631579,NaN,1.131579,NaN,-0.368421,...,NaN,NaN,1.631579,-0.868421,-1.368421,NaN,0.631579,NaN,NaN,-0.368421
4,-1.333333,-0.833333,NaN,0.666667,1.166667,NaN,1.666667,0.166667,NaN,NaN,...,NaN,0.666667,-0.333333,1.166667,1.666667,NaN,NaN,NaN,NaN,-0.833333
5,0.750000,1.250000,-0.250000,NaN,0.250000,1.250000,1.750000,-1.250000,-1.250000,0.750000,...,-2.250000,NaN,NaN,NaN,-0.750000,NaN,-1.750000,NaN,NaN,NaN
6,-0.038462,NaN,0.461538,-0.538462,NaN,NaN,-0.538462,1.961538,-0.038462,1.961538,...,NaN,NaN,0.461538,NaN,NaN,NaN,-0.038462,-2.038462,NaN,NaN
7,NaN,0.675000,0.175000,-1.325000,0.675000,NaN,-0.825000,NaN,1.675000,1.175000,...,NaN,1.175000,NaN,0.175000,-1.825000,-1.325000,0.675000,-0.325000,1.675000,NaN
8,-1.222222,1.777778,-0.222222,NaN,-1.222222,NaN,NaN,0.277778,NaN,1.277778,...,NaN,-0.222222,NaN,0.777778,NaN,NaN,NaN,1.277778,0.277778,NaN
9,-1.166667,NaN,-0.666667,0.333333,NaN,1.333333,-2.166667,1.833333,-1.166667,0.833333,...,NaN,NaN,1.833333,-1.666667,-0.166667,NaN,-0.666667,NaN,-0.166667,-1.666667
10,NaN,-2.058824,NaN,-0.558824,0.441176,NaN,1.441176,0.441176,0.941176,NaN,...,NaN,NaN,-1.058824,-1.558824,1.941176,1.441176,-1.058824,NaN,0.441176,-0.058824
11,-2.178571,-0.678571,NaN,-0.178571,NaN,0.321429,NaN,NaN,NaN,NaN,...,NaN,NaN,0.321429,0.821429,NaN,1.321429,-0.678571,NaN,NaN,NaN
12,NaN,1.675000,1.675000,NaN,1.175000,NaN,-1.325000,-0.325000,NaN,0.675000,...,-2.325000,0.675000,-1.325000,0.675000,NaN,NaN,NaN,NaN,NaN,0.175000
13,-0.875000,NaN,NaN,NaN,NaN,0.625000,1.125000,-0.375000,NaN,NaN,...,-0.875000,NaN,0.125000,NaN,-0.375000,1.125000,NaN,NaN,1.625000,-2.375000
14,NaN,NaN,0.266667,-0.233333,NaN,1.266667,-2.233333,NaN,NaN,-1.233333,...,-1.733333,NaN,NaN,-0.733333,NaN,NaN,NaN,NaN,NaN,NaN
15,0.684211,-0.315789,NaN,NaN,0.184211,NaN,1.684211,NaN,NaN,0.684211,...,NaN,NaN,-2.315789,-0.315789,NaN,NaN,1.684211,NaN,0.684211,NaN
16,NaN,-0.052632,NaN,NaN,-0.052632,NaN,NaN,-2.052632,NaN,-1.052632,...,NaN,-1.052632,0.947368,NaN,NaN,-1.552632,-0.552632,0.447368,NaN,NaN
17,NaN,-1.100000,NaN,-2.100000,NaN,NaN,NaN,-1.100000,-0.100000,NaN,...,NaN,NaN,0.400000,-2.100000,NaN,0.400000,1.400000,NaN,NaN,1.400000
18,0.312500,-0.187500,NaN,NaN,0.812500,1.812500,-1.687500,NaN,-0.687500,0.812500,...,NaN,-2.187500,NaN,-1.187500,NaN,-0.687500,0.812500,NaN,-0.187500,NaN
19,0.083333,0.583333,NaN,NaN,0.083333,NaN,-0.916667,1.083333,-0.916667,NaN,...,1.583333,0.083333,1.083333,-1.416667,0.583333,1.583333,NaN,0.083333,NaN,-0.416667
20,1.166667,0.166667,NaN,-1.833333,NaN,0.666667,-1.333333,1.166667,NaN,1.666667,...,1.166667,-0.833333,-2.333333,1.666667,0.166667,-2.333333,NaN,NaN,1.166667,1.666667
21,NaN,-0.153846,NaN,0.346154,NaN,-0.653846,NaN,NaN,0.846154,1.346154,...,NaN,-0.653846,-1.403846,NaN,NaN,-0.153846,NaN,NaN,NaN,NaN
22,-0.777778,NaN,-0.277778,-1.277778,1.222222,1.722222,NaN,0.222222,-0.277778,-1.277778,...,NaN,1.722222,-0.277778,-1.777778,NaN,NaN,0.722222,NaN,-0.277778,NaN
23,1.363636,NaN,NaN,0.863636,-0.636364,-0.136364,NaN,0.363636,1.863636,NaN,...,NaN,NaN,NaN,0.863636,NaN,NaN,-2.136364,NaN,NaN,NaN
24,-0.261905,0.238095,0.738095,-0.761905,NaN,NaN,1.738095,1.238095,NaN,-0.761905,...,0.738095,1.738095,-2.261905,NaN,0.238095,1.238095,NaN,NaN,NaN,-0.261905
25,0.125000,NaN,0.625000,1.125000,-1.375000,1.625000,-0.875000,0.125000,1.625000,1.125000,...,NaN,-2.375000,-0.375000,NaN,NaN,NaN,NaN,-1.875000,NaN,NaN

In [38]:
#if any NaN values is there then replace that with the average of users
# Replacing NaN by user Average
final_user = final.apply(lambda row: row.fillna(row.mean()), axis=1)
#matrix with NaN value is a sparse matrix
final_user

smartphone_id,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.159091,0.250000,0.159091,0.159091,0.159091,0.159091,-0.250000,0.159091,0.250000,-0.750000,...,-1.750000,1.750000,0.159091,0.750000,0.159091,-0.250000,1.250000,0.159091,0.159091,0.159091
2,1.205882,-1.294118,0.013575,-2.294118,0.205882,0.705882,1.705882,-0.794118,1.205882,-0.794118,...,0.013575,-2.294118,0.013575,1.705882,0.013575,0.013575,0.013575,0.205882,0.013575,0.013575
3,1.131579,-0.368421,0.631579,1.631579,-0.868421,0.631579,0.037829,1.131579,0.037829,-0.368421,...,0.037829,0.037829,1.631579,-0.868421,-1.368421,0.037829,0.631579,0.037829,0.037829,-0.368421
4,-1.333333,-0.833333,0.333333,0.666667,1.166667,0.333333,1.666667,0.166667,0.333333,0.333333,...,0.333333,0.666667,-0.333333,1.166667,1.666667,0.333333,0.333333,0.333333,0.333333,-0.833333
5,0.750000,1.250000,-0.250000,0.000000,0.250000,1.250000,1.750000,-1.250000,-1.250000,0.750000,...,-2.250000,0.000000,0.000000,0.000000,-0.750000,0.000000,-1.750000,0.000000,0.000000,0.000000
6,-0.038462,0.006993,0.461538,-0.538462,0.006993,0.006993,-0.538462,1.961538,-0.038462,1.961538,...,0.006993,0.006993,0.461538,0.006993,0.006993,0.006993,-0.038462,-2.038462,0.006993,0.006993
7,0.036111,0.675000,0.175000,-1.325000,0.675000,0.036111,-0.825000,0.036111,1.675000,1.175000,...,0.036111,1.175000,0.036111,0.175000,-1.825000,-1.325000,0.675000,-0.325000,1.675000,0.036111
8,-1.222222,1.777778,-0.222222,0.141414,-1.222222,0.141414,0.141414,0.277778,0.141414,1.277778,...,0.141414,-0.222222,0.141414,0.777778,0.141414,0.141414,0.141414,1.277778,0.277778,0.141414
9,-1.166667,-0.111111,-0.666667,0.333333,-0.111111,1.333333,-2.166667,1.833333,-1.166667,0.833333,...,-0.111111,-0.111111,1.833333,-1.666667,-0.166667,-0.111111,-0.666667,-0.111111,-0.166667,-1.666667
10,0.041176,-2.058824,0.041176,-0.558824,0.441176,0.041176,1.441176,0.441176,0.941176,0.041176,...,0.041176,0.041176,-1.058824,-1.558824,1.941176,1.441176,-1.058824,0.041176,0.441176,-0.058824
11,-2.178571,-0.678571,-0.428571,-0.178571,-0.428571,0.321429,-0.428571,-0.428571,-0.428571,-0.428571,...,-0.428571,-0.428571,0.321429,0.821429,-0.428571,1.321429,-0.678571,-0.428571,-0.428571,-0.428571
12,0.008333,1.675000,1.675000,0.008333,1.175000,0.008333,-1.325000,-0.325000,0.008333,0.675000,...,-2.325000,0.675000,-1.325000,0.675000,0.008333,0.008333,0.008333,0.008333,0.008333,0.175000
13,-0.875000,-0.025000,-0.025000,-0.025000,-0.025000,0.625000,1.125000,-0.375000,-0.025000,-0.025000,...,-0.875000,-0.025000,0.125000,-0.025000,-0.375000,1.125000,-0.025000,-0.025000,1.625000,-2.375000
14,-0.324242,-0.324242,0.266667,-0.233333,-0.324242,1.266667,-2.233333,-0.324242,-0.324242,-1.233333,...,-1.733333,-0.324242,-0.324242,-0.733333,-0.324242,-0.324242,-0.324242,-0.324242,-0.324242,-0.324242
15,0.684211,-0.315789,0.068826,0.068826,0.184211,0.068826,1.684211,0.068826,0.068826,0.684211,...,0.068826,0.068826,-2.315789,-0.315789,0.068826,0.068826,1.684211,0.068826,0.684211,0.068826
16,-0.135965,-0.052632,-0.135965,-0.135965,-0.052632,-0.135965,-0.135965,-2.052632,-0.135965,-1.052632,...,-0.135965,-1.052632,0.947368,-0.135965,-0.135965,-1.552632,-0.552632,0.447368,-0.135965,-0.135965
17,-0.281818,-1.100000,-0.281818,-2.100000,-0.281818,-0.281818,-0.281818,-1.100000,-0.100000,-0.281818,...,-0.281818,-0.281818,0.400000,-2.100000,-0.281818,0.400000,1.400000,-0.281818,-0.281818,1.400000
18,0.312500,-0.187500,-0.087500,-0.087500,0.812500,1.812500,-1.687500,-0.087500,-0.687500,0.812500,...,-0.087500,-2.187500,-0.087500,-1.187500,-0.087500,-0.687500,0.812500,-0.087500,-0.187500,-0.087500
19,0.083333,0.583333,0.112745,0.112745,0.083333,0.112745,-0.916667,1.083333,-0.916667,0.112745,...,1.583333,0.083333,1.083333,-1.416667,0.583333,1.583333,0.112745,0.083333,0.112745,-0.416667
20,1.166667,0.166667,-0.009804,-1.833333,-0.009804,0.666667,-1.333333,1.166667,-0.009804,1.666667,...,1.166667,-0.833333,-2.333333,1.666667,0.166667,-2.333333,-0.009804,-0.009804,1.166667,1.666667
21,0.171154,-0.153846,0.171154,0.346154,0.171154,-0.653846,0.171154,0.171154,0.846154,1.346154,...,0.171154,-0.653846,-1.403846,0.171154,0.171154,-0.153846,0.171154,0.171154,0.171154,0.171154
22,-0.777778,-0.144444,-0.277778,-1.277778,1.222222,1.722222,-0.144444,0.222222,-0.277778,-1.277778,...,-0.144444,1.722222,-0.277778,-1.777778,-0.144444,-0.144444,0.722222,-0.144444,-0.277778,-0.144444
23,1.363636,-0.036364,-0.036364,0.863636,-0.636364,-0.136364,-0.036364,0.363636,1.863636,-0.036364,...,-0.036364,-0.036364,-0.036364,0.863636,-0.036364,-0.036364,-2.136364,-0.036364,-0.036364,-0.036364
24,-0.261905,0.238095,0.738095,-0.761905,0.120448,0.120448,1.738095,1.238095,0.120448,-0.761905,...,0.738095,1.738095,-2.261905,0.120448,0.238095,1.238095,0.120448,0.120448,0.120448,-0.261905
25,0.125000,0.000000,0.625000,1.125000,-1.375000,1.625000,-0.875000,0.125000,1.625000,1.125000,...,0.000000,-2.375000,-0.375000,0.000000,0.000000,0.000000,0.000000,-1.875000,0.000000,0.000000

In [39]:
# Replacing NaN by Gadget Average
final_gadget = final.fillna(final.mean(axis=0))
final_gadget

smartphone_id,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
user_id,,,,,,,,,,,,,,,,,,,,,
1,-0.060655,0.250000,0.286928,-0.383435,0.137424,0.859236,-0.250000,0.228571,0.250000,-0.750000,...,-1.750000,1.750000,-0.287131,0.750000,0.011085,-0.250000,1.250000,-0.317729,0.581987,-0.273915
2,1.205882,-1.294118,0.286928,-2.294118,0.205882,0.705882,1.705882,-0.794118,1.205882,-0.794118,...,-0.680655,-2.294118,-0.287131,1.705882,0.011085,0.067227,0.021000,0.205882,0.581987,-0.273915
3,1.131579,-0.368421,0.631579,1.631579,-0.868421,0.631579,-0.061172,1.131579,0.283555,-0.368421,...,-0.680655,-0.129167,1.631579,-0.868421,-1.368421,0.067227,0.631579,-0.317729,0.581987,-0.368421
4,-1.333333,-0.833333,0.286928,0.666667,1.166667,0.859236,1.666667,0.166667,0.283555,0.337166,...,-0.680655,0.666667,-0.333333,1.166667,1.666667,0.067227,0.021000,-0.317729,0.581987,-0.833333
5,0.750000,1.250000,-0.250000,-0.383435,0.250000,1.250000,1.750000,-1.250000,-1.250000,0.750000,...,-2.250000,-0.129167,-0.287131,-0.167940,-0.750000,0.067227,-1.750000,-0.317729,0.581987,-0.273915
6,-0.038462,-0.023731,0.461538,-0.538462,0.137424,0.859236,-0.538462,1.961538,-0.038462,1.961538,...,-0.680655,-0.129167,0.461538,-0.167940,0.011085,0.067227,-0.038462,-2.038462,0.581987,-0.273915
7,-0.060655,0.675000,0.175000,-1.325000,0.675000,0.859236,-0.825000,0.228571,1.675000,1.175000,...,-0.680655,1.175000,-0.287131,0.175000,-1.825000,-1.325000,0.675000,-0.325000,1.675000,-0.273915
8,-1.222222,1.777778,-0.222222,-0.383435,-1.222222,0.859236,-0.061172,0.277778,0.283555,1.277778,...,-0.680655,-0.222222,-0.287131,0.777778,0.011085,0.067227,0.021000,1.277778,0.277778,-0.273915
9,-1.166667,-0.023731,-0.666667,0.333333,0.137424,1.333333,-2.166667,1.833333,-1.166667,0.833333,...,-0.680655,-0.129167,1.833333,-1.666667,-0.166667,0.067227,-0.666667,-0.317729,-0.166667,-1.666667
10,-0.060655,-2.058824,0.286928,-0.558824,0.441176,0.859236,1.441176,0.441176,0.941176,0.337166,...,-0.680655,-0.129167,-1.058824,-1.558824,1.941176,1.441176,-1.058824,-0.317729,0.441176,-0.058824
11,-2.178571,-0.678571,0.286928,-0.178571,0.137424,0.321429,-0.061172,0.228571,0.283555,0.337166,...,-0.680655,-0.129167,0.321429,0.821429,0.011085,1.321429,-0.678571,-0.317729,0.581987,-0.273915
12,-0.060655,1.675000,1.675000,-0.383435,1.175000,0.859236,-1.325000,-0.325000,0.283555,0.675000,...,-2.325000,0.675000,-1.325000,0.675000,0.011085,0.067227,0.021000,-0.317729,0.581987,0.175000
13,-0.875000,-0.023731,0.286928,-0.383435,0.137424,0.625000,1.125000,-0.375000,0.283555,0.337166,...,-0.875000,-0.129167,0.125000,-0.167940,-0.375000,1.125000,0.021000,-0.317729,1.625000,-2.375000
14,-0.060655,-0.023731,0.266667,-0.233333,0.137424,1.266667,-2.233333,0.228571,0.283555,-1.233333,...,-1.733333,-0.129167,-0.287131,-0.733333,0.011085,0.067227,0.021000,-0.317729,0.581987,-0.273915
15,0.684211,-0.315789,0.286928,-0.383435,0.184211,0.859236,1.684211,0.228571,0.283555,0.684211,...,-0.680655,-0.129167,-2.315789,-0.315789,0.011085,0.067227,1.684211,-0.317729,0.684211,-0.273915
16,-0.060655,-0.052632,0.286928,-0.383435,-0.052632,0.859236,-0.061172,-2.052632,0.283555,-1.052632,...,-0.680655,-1.052632,0.947368,-0.167940,0.011085,-1.552632,-0.552632,0.447368,0.581987,-0.273915
17,-0.060655,-1.100000,0.286928,-2.100000,0.137424,0.859236,-0.061172,-1.100000,-0.100000,0.337166,...,-0.680655,-0.129167,0.400000,-2.100000,0.011085,0.400000,1.400000,-0.317729,0.581987,1.400000
18,0.312500,-0.187500,0.286928,-0.383435,0.812500,1.812500,-1.687500,0.228571,-0.687500,0.812500,...,-0.680655,-2.187500,-0.287131,-1.187500,0.011085,-0.687500,0.812500,-0.317729,-0.187500,-0.273915
19,0.083333,0.583333,0.286928,-0.383435,0.083333,0.859236,-0.916667,1.083333,-0.916667,0.337166,...,1.583333,0.083333,1.083333,-1.416667,0.583333,1.583333,0.021000,0.083333,0.581987,-0.416667
20,1.166667,0.166667,0.286928,-1.833333,0.137424,0.666667,-1.333333,1.166667,0.283555,1.666667,...,1.166667,-0.833333,-2.333333,1.666667,0.166667,-2.333333,0.021000,-0.317729,1.166667,1.666667
21,-0.060655,-0.153846,0.286928,0.346154,0.137424,-0.653846,-0.061172,0.228571,0.846154,1.346154,...,-0.680655,-0.653846,-1.403846,-0.167940,0.011085,-0.153846,0.021000,-0.317729,0.581987,-0.273915
22,-0.777778,-0.023731,-0.277778,-1.277778,1.222222,1.722222,-0.061172,0.222222,-0.277778,-1.277778,...,-0.680655,1.722222,-0.277778,-1.777778,0.011085,0.067227,0.722222,-0.317729,-0.277778,-0.273915
23,1.363636,-0.023731,0.286928,0.863636,-0.636364,-0.136364,-0.061172,0.363636,1.863636,0.337166,...,-0.680655,-0.129167,-0.287131,0.863636,0.011085,0.067227,-2.136364,-0.317729,0.581987,-0.273915
24,-0.261905,0.238095,0.738095,-0.761905,0.137424,0.859236,1.738095,1.238095,0.283555,-0.761905,...,0.738095,1.738095,-2.261905,-0.167940,0.238095,1.238095,0.021000,-0.317729,0.581987,-0.261905
25,0.125000,-0.023731,0.625000,1.125000,-1.375000,1.625000,-0.875000,0.125000,1.625000,1.125000,...,-0.680655,-2.375000,-0.375000,-0.167940,0.011085,0.067227,0.021000,-1.875000,0.581987,-0.273915

In [40]:
#USING USER AVERAGE

from sklearn.metrics.pairwise import cosine_similarity
b = cosine_similarity(final_user)
np.fill_diagonal(b, 0 )
similarity_with_user = pd.DataFrame(b,index=final_user.index)
similarity_with_user.columns=final_user.index
similarity_with_user

user_id,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.000000,-0.082116,-0.014546,0.138055,0.055775,-0.108022,-0.044842,-0.040317,-0.030336,-0.340047,...,-0.261701,-0.043479,-0.460087,-0.306616,-0.034851,0.076497,-0.070703,-0.285905,-0.122457,-0.296920
2,-0.082116,0.000000,-0.172190,0.115163,0.089749,-0.176406,-0.041975,-0.171610,-0.437756,0.127679,...,0.224179,0.157442,0.006421,-0.394685,0.216346,0.163339,-0.212310,0.091035,-0.029102,0.140809
3,-0.014546,-0.172190,0.000000,-0.287453,-0.122223,0.080864,0.285165,0.090322,0.175308,-0.156339,...,-0.170348,-0.031492,0.150339,0.286469,-0.268462,-0.205129,0.015337,0.250819,0.073905,0.368492
4,0.138055,0.115163,-0.287453,0.000000,-0.054254,-0.096336,-0.196522,0.061117,-0.141542,0.351574,...,-0.146656,-0.382659,-0.273217,-0.126746,-0.168733,0.226869,-0.014091,-0.144444,0.318757,-0.158768
5,0.055775,0.089749,-0.122223,-0.054254,0.000000,-0.084339,-0.087660,0.088600,-0.021935,-0.068604,...,0.132769,-0.164399,-0.012906,-0.422553,-0.175447,-0.096083,-0.019488,0.083416,-0.045253,-0.080199
6,-0.108022,-0.176406,0.080864,-0.096336,-0.084339,0.000000,0.206471,0.006249,0.246711,-0.152643,...,-0.403481,-0.027121,0.111870,0.154529,0.273788,0.123493,-0.057323,0.014766,-0.047248,0.314962
7,-0.044842,-0.041975,0.285165,-0.196522,-0.087660,0.206471,0.000000,0.238319,-0.124648,-0.145659,...,-0.046948,0.096886,0.198441,-0.128559,0.262899,0.031592,0.263635,0.206161,0.268599,0.226590
8,-0.040317,-0.171610,0.090322,0.061117,0.088600,0.006249,0.238319,0.000000,0.054279,-0.264893,...,-0.208164,-0.254686,-0.075028,0.029096,0.111659,0.159810,-0.277263,0.065529,0.122432,0.193849
9,-0.030336,-0.437756,0.175308,-0.141542,-0.021935,0.246711,-0.124648,0.054279,0.000000,0.011218,...,-0.153920,-0.065612,0.303044,0.457276,-0.120714,-0.276062,0.166710,-0.147385,-0.340246,0.013236
10,-0.340047,0.127679,-0.156339,0.351574,-0.068604,-0.152643,-0.145659,-0.264893,0.011218,0.000000,...,-0.172653,0.145837,0.028383,0.179161,-0.114191,-0.055272,0.308361,0.256395,0.430719,-0.070845
11,-0.059199,0.007625,-0.103600,0.024970,0.009553,0.180647,-0.210188,0.087327,0.099200,-0.163008,...,-0.109268,0.097210,-0.165186,-0.044727,-0.194409,-0.329291,0.039953,-0.015722,-0.087519,-0.010492
12,0.036628,-0.273277,-0.145184,-0.073135,0.221418,0.066189,0.348931,0.084908,-0.132852,0.022592,...,0.031278,-0.159240,0.284190,-0.117271,0.095080,-0.123512,0.298404,0.177362,0.228969,0.031937
13,0.043038,0.095107,0.045967,0.368929,0.281003,-0.085786,0.041872,0.099574,0.145137,0.167346,...,-0.048640,-0.176829,-0.107292,0.007054,-0.410135,-0.112662,0.088512,-0.095201,0.171545,-0.008611
14,0.140963,-0.139259,-0.046966,-0.371670,0.039592,-0.194007,-0.099024,-0.298024,0.453525,0.071372,...,0.234175,0.170794,0.416018,0.028212,-0.018381,-0.359715,0.353683,-0.043549,-0.267348,0.095152
15,0.152550,0.135691,-0.209255,0.229003,0.139654,0.120545,-0.078011,-0.065859,-0.380645,0.058067,...,-0.391166,0.076599,-0.170355,-0.358410,0.239341,0.344999,-0.005640,-0.179300,0.270121,-0.124257
16,-0.261701,0.224179,-0.170348,-0.146656,0.132769,-0.403481,-0.046948,-0.208164,-0.153920,-0.172653,...,0.000000,0.115679,0.325321,-0.206594,-0.212327,-0.145265,0.028399,-0.096551,-0.412180,0.024587
17,-0.043479,0.157442,-0.031492,-0.382659,-0.164399,-0.027121,0.096886,-0.254686,-0.065612,0.145837,...,0.115679,0.000000,0.209047,0.083450,-0.057660,-0.166778,0.364973,-0.419144,-0.092239,-0.082925
18,-0.460087,0.006421,0.150339,-0.273217,-0.012906,0.111870,0.198441,-0.075028,0.303044,0.028383,...,0.325321,0.209047,0.000000,0.207464,0.154756,-0.060494,0.316004,-0.130721,-0.193279,0.473817
19,-0.306616,-0.394685,0.286469,-0.126746,-0.422553,0.154529,-0.128559,0.029096,0.457276,0.179161,...,-0.206594,0.083450,0.207464,0.000000,-0.158654,-0.275250,0.199434,-0.145992,0.057925,-0.031837
20,-0.034851,0.216346,-0.268462,-0.168733,-0.175447,0.273788,0.262899,0.111659,-0.120714,-0.114191,...,-0.212327,-0.057660,0.154756,-0.158654,0.000000,0.328580,-0.154406,0.083423,-0.033116,0.115964
21,0.076497,0.163339,-0.205129,0.226869,-0.096083,0.123493,0.031592,0.159810,-0.276062,-0.055272,...,-0.145265,-0.166778,-0.060494,-0.275250,0.328580,0.000000,-0.600626,-0.106794,-0.052618,0.333121
22,-0.070703,-0.212310,0.015337,-0.014091,-0.019488,-0.057323,0.263635,-0.277263,0.166710,0.308361,...,0.028399,0.364973,0.316004,0.199434,-0.154406,-0.600626,0.000000,-0.150270,0.423498,-0.260613
23,-0.285905,0.091035,0.250819,-0.144444,0.083416,0.014766,0.206161,0.065529,-0.147385,0.256395,...,-0.096551,-0.419144,-0.130721,-0.145992,0.083423,-0.106794,-0.150270,0.000000,0.171415,0.274209
24,-0.122457,-0.029102,0.073905,0.318757,-0.045253,-0.047248,0.268599,0.122432,-0.340246,0.430719,...,-0.412180,-0.092239,-0.193279,0.057925,-0.033116,-0.052618,0.423498,0.171415,0.000000,-0.096455
25,-0.296920,0.140809,0.368492,-0.158768,-0.080199,0.314962,0.226590,0.193849,0.013236,-0.070845,...,0.024587,-0.082925,0.473817,-0.031837,0.115964,0.333121,-0.260613,0.274209,-0.096455,0.000000

In [41]:
#USING GADGET AVERAGE

cosine = cosine_similarity(final_gadget)
np.fill_diagonal(cosine, 0 )
similarity_with_gadget = pd.DataFrame(cosine,index=final_gadget.index)
similarity_with_gadget.columns=final_user.index
similarity_with_gadget.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.000000,0.089874,0.089079,0.219758,0.045678,0.063991,0.254043,0.081766,-0.003541,-0.201581,...,-0.246637,0.139205,-0.239173,-0.203479,0.060124,0.221850,0.137054,-0.187646,0.096329,-0.054056
2,0.089874,0.000000,-0.044458,0.174630,0.202962,-0.070854,0.118217,-0.005375,-0.451937,0.206659,...,0.284387,0.223518,0.093961,-0.287100,0.211549,0.185050,-0.152049,0.170910,0.081860,0.230060
3,0.089079,-0.044458,0.000000,-0.045463,0.021242,0.314229,0.370743,0.082261,0.186336,0.045165,...,-0.074481,0.088149,0.270173,0.318584,-0.169344,0.009059,0.135154,0.353709,0.118399,0.445865
4,0.219758,0.174630,-0.045463,0.000000,0.164089,0.182268,0.095914,0.152033,-0.081523,0.477262,...,-0.056361,-0.113460,-0.063941,-0.112935,-0.082496,0.101468,0.230693,0.156959,0.428639,0.046928
5,0.045678,0.202962,0.021242,0.164089,0.000000,0.148430,0.169748,0.271316,0.027794,0.150157,...,0.220155,0.093788,0.133773,-0.246434,-0.118877,0.022108,0.164034,0.250481,0.136321,0.069865

In [42]:

def find_n_neighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index, 
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1) #axis 0 for index 1 for columns
    return df

In [43]:
# top 3 neighbours for each user
sim_user_8_u = find_n_neighbours(similarity_with_user,8)
sim_user_8_u.head()

         top1  top2  top3  top4  top5  top6  top7  top8
user_id
1          15    14     4    21     5    13    12     1
2          16    20    21    17    25    15    10     4
3          25    19     7    23     9    18     8     6
4          13    10    24    15    21     1     2     8
5          13    12    15    16     2     8    23     1

In [44]:
#list of items rated by every users
train_data = train_data.astype({"smartphone_id": str})
gadget_user = train_data.groupby(by = 'user_id')['smartphone_id'].apply(lambda x:','.join(x))
gadget_user

user_id
1                       21,22,2,9,19,16,15,12,7,10,17
2                      9,2,10,23,6,5,8,1,17,12,4,7,19
3            10,4,6,18,3,2,8,19,15,13,20,1,11,5,22,25
4                       4,17,15,18,19,2,7,25,8,5,20,1
5                   1,9,5,3,10,22,2,11,7,20,8,6,14,16
6                          4,7,3,9,18,10,8,14,1,22,23
7     3,2,20,5,4,17,13,10,22,12,15,11,19,24,7,23,9,21
8                         23,8,24,1,5,10,13,17,3,2,19
9      13,4,20,15,10,6,18,8,19,25,7,9,1,14,24,22,3,11
10             9,25,8,2,4,7,12,21,5,18,14,20,19,22,24
11                          22,1,4,18,2,19,21,6,15,14
12            3,10,16,12,14,18,5,25,2,15,19,17,11,8,7
13                          1,18,21,20,16,6,25,7,24,8
14                       7,3,11,19,6,12,4,10,14,16,13
15                 11,13,22,2,18,14,15,10,7,24,19,1,5
16                   8,23,13,18,17,15,22,21,10,2,5,14
17                       9,2,8,25,21,22,18,4,15,12,19
18             22,17,14,7,2,10,5,15,6,21,1,24,12,9,19
19       16,11,1,14,20,8,12,7,25,9,23,21,18,5,19,2,17
20       17,15,11,8,7,4,21,18,6,19,16,1,24,20,2,10,25
21                       18,17,21,9,4,15,12,10,6,2,18
22              1,15,19,17,5,12,9,24,8,3,4,10,18,22,6
23                            6,19,13,8,12,4,9,1,22,5
24       14,4,1,12,15,8,13,21,10,3,25,2,16,17,18,7,20
25            5,6,11,15,12,1,3,9,23,17,18,4,10,8,7,13
Name: smartphone_id, dtype: object

In [45]:
gadget_seen_by_user=train_matrix.columns[train_matrix[train_matrix.index==4].notna().any()].tolist()
gadget_seen_by_user

[1, 2, 4, 5, 7, 8, 15, 17, 18, 19, 20, 25]

In [46]:
users = list(set(train_data['user_id'].tolist()))
users

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [47]:
def User_item_score2(user_list):
    final_list=[]
    for user in user_list:
        
        gadget_seen_by_user=train_matrix.columns[train_matrix[train_matrix.index==user].notna().any()].tolist()
        a=sim_user_8_u[sim_user_8_u.index==user].values #similar users to a particular user
        b=a.squeeze().tolist()
        c=gadget_user[gadget_user.index.isin(b)]
        l=','.join(c.values)
        gadget_seen_by_similar_users=l.split(',')
        gadget_under_considiration=list(set(gadget_seen_by_similar_users)-set(list(map(str,gadget_seen_by_user))))
        gadget_under_considiration=list(map(int, gadget_under_considiration))
        score= {'user_id':[],'item_id':[], 'Rating':[]}

        for item in gadget_under_considiration:
            d=final_user.loc[:,item] #sabai uer le tyo item lai deko ratings
            e=d[d.index.isin(b)] #similar users le deko ratings extract gariyo
            f=e[e.notnull()]
            avg_user=train_data.loc[train_data['user_id']==user,'rating_mean'].values[0]
            index = f.index.values.squeeze().tolist() #neighbour users
            corr=similarity_with_user.loc[user,index]
            fin = pd.concat([f, corr], axis=1)
            fin.columns = ['adg_score','correlation']
            fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
            nume = fin['score'].sum()
            deno = fin['correlation'].sum()
            final_score = avg_user + (nume/deno)
            score['user_id'].append(user)
            score['item_id'].append(item)
            score['Rating'].append(final_score)
      
        final_list.append(score)
    return final_list

In [48]:
predicted = User_item_score2(users)
predicted

[{'user_id': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
  'item_id': [8, 24, 20, 5, 6, 14, 25, 13, 11, 18, 4, 3, 1],
  'Rating': [3.0994698194557593,
   3.5421851348666102,
   3.483584086242784,
   3.580157367551793,
   3.688186914492467,
   3.175494962549985,
   2.8879760985838265,
   3.552270854553793,
   3.702983936305735,
   2.324537636822713,
   3.398178970047695,
   3.4885878571408893,
   3.08243057842341]},
 {'user_id': [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
  'item_id': [21, 24, 20, 14, 25, 22, 13, 15, 16, 11, 18, 3],
  'Rating': [2.838650352500167,
   3.601046381184437,
   3.636356564694784,
   3.301546880540399,
   3.6723098383561137,
   3.492529919038854,
   3.435423367447595,
   3.499964792304987,
   3.495963803801798,
   3.2350426439122724,
   2.5137568626939055,
   3.365936216562048]},
 {'user_id': [3, 3, 3, 3, 3, 3, 3, 3, 3],
  'item_id': [21, 24, 14, 17, 16, 7, 9, 12, 23],
  'Rating': [3.3430102298227595,
   3.6463470554005784,
   3.568314563030529,
   2.8392053662392116,
   3.6264273231617614,
   2.483405312432636,
   3.950883140314211,
   2.942171574875326,
   2.864262064647247]},
 {'user_id': [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
  'item_id': [21, 24, 6, 14, 10, 22, 13, 16, 11, 23, 9, 12, 3],
  'Rating': [4.036815191953379,
   3.902025158252937,
   3.4785543459037798,
   3.5567775307942164,
   3.392785641305688,
   3.479349027410323,
   3.042350449127005,
   3.1952465747227956,
   3.5465640539418657,
   3.4560242097112734,
   3.7477205086206613,
   3.1293147274830058,
   3.501925726306699]},
 {'user_id': [5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
  'item_id': [21, 24, 17, 25, 13, 15, 19, 18, 4, 12, 23],
  'Rating': [3.3582170800569484,
   3.769638576047629,
   3.1413173353088357,
   2.68473586151526,
   3.2680545930448126,
   3.496186351169057,
   3.630968912940755,
   2.8506037488125555,
   3.13459055072527,
   2.798444809193314,
   3.4343286522356173]},
 {'user_id': [6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
  'item_id': [21, 24, 20, 5, 6, 17, 25, 13, 15, 19, 16, 11, 12, 2],
  'Rating': [2.750304512971778,
   3.4503655460434497,
   2.8348133405989997,
   2.8256479213748067,
   3.6761470820710094,
   2.4845379884236882,
   3.0015797463342087,
   2.5140042052898894,
   2.9727208220549537,
   3.034639116887394,
   3.34450768376709,
   2.828593317397821,
   3.0945278115335078,
   3.080457110089748]},
 {'user_id': [7, 7, 7, 7, 7, 7, 7],
  'item_id': [8, 6, 14, 25, 16, 18, 1],
  'Rating': [3.994644258642646,
   3.9191245035842606,
   3.2351203775719797,
   3.477757661176236,
   3.1829242766845662,
   2.731244932288,
   3.365948832243524]},
 {'user_id': [8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8],
  'item_id': [21, 20, 6, 14, 25, 22, 15, 16, 11, 7, 18, 4, 9, 12],
  'Rating': [2.9199541087744216,
   2.6906022760618225,
   3.7095953013558494,
   3.260962500327567,
   3.1499987472275044,
   3.3140003837299052,
   3.9707224624125916,
   3.198259459191165,
   3.1072686123828475,
   3.2181756703445195,
   2.619190779778133,
   3.045243911068796,
   3.9041563346580386,
   3.2809884470043102]},
 {'user_id': [9, 9, 9, 9, 9, 9, 9],
  'item_id': [21, 5, 17, 16, 12, 2, 23],
  'Rating': [3.4828831624044603,
   3.237199543876509,
   2.9113896720476125,
   3.0328854622156856,
   2.531321684807519,
   3.120248521441444,
   2.8237281530568135]},
 {'user_id': [10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
  'item_id': [6, 17, 10, 13, 15, 16, 11, 23, 3, 1],
  'Rating': [3.4853417032148073,
   3.659459011610561,
   2.6822272264970537,
   2.5499737471539876,
   3.4697969527797565,
   3.302391375274888,
   2.9662213722850868,
   3.115323652308982,
   3.219861503531335,
   2.8095129924260647]},
 {'user_id': [11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11],
  'item_id': [8, 24, 20, 5, 17, 25, 10, 13, 16, 11, 23, 7, 9, 12, 3],
  'Rating': [3.543383113210305,
   3.6486538909936006,
   3.0337835373230333,
   3.067575266355788,
   3.172377536010896,
   2.3366237964624608,
   3.5849740484473247,
   3.1341449355687963,
   2.7112724383483187,
   3.2278317528829135,
   2.8171134774786877,
   3.0117949344616273,
   3.004678592080943,
   3.0032258633110693,
   3.159513098290686]},
 {'user_id': [12, 12, 12, 12, 12, 12, 12, 12, 12, 12],
  'item_id': [21, 24, 20, 6, 22, 13, 9, 4, 23, 1],
  'Rating': [2.946466105111868,
   3.5558615982253166,
   2.8662965873815214,
   4.238572474439438,
   3.238661990355196,
   2.722997195686217,
   3.4595603779778297,
   2.754619441080198,
   3.1872765660997677,
   3.4305287929393913]},
 {'user_id': [13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13],
  'item_id': [3, 5, 14, 17, 10, 22, 13, 15, 19, 11, 9, 4, 12, 2, 23],
  'Rating': [3.34520915506346,
   3.590440167054135,
   3.2337834246236237,
   3.6154383623195563,
   3.6282809386806005,
   3.012016639804638,
   3.1639052450998886,
   3.1443626468881316,
   3.5123041967401476,
   3.859324402339254,
   3.179757529556244,
   3.399644979383747,
   3.0373503818392895,
   3.1713296346290982,
   3.4630860367603318]},
 {'user_id': [14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14],
  'item_id': [21, 8, 24, 20, 5, 17, 25, 22, 15, 9, 18, 2, 23, 1],
  'Rating': [2.911503934887731,
   3.2888132472643155,
   3.0954219104813516,
   3.135372259181654,
   3.6703869369465143,
   3.060506860366967,
   2.985278653565421,
   3.494382267730905,
   3.8264292494457273,
   2.88700778064108,
   3.4584380174387146,
   3.3477764038498483,
   3.1278948728701934,
   2.9106737770377253]},
 {'user_id': [15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15],
  'item_id': [21, 8, 20, 6, 17, 25, 16, 23, 9, 4, 12, 3],
  'Rating': [3.255554016725653,
   3.564557181379509,
   3.572795765781362,
   3.56935980864108,
   3.4073912333043737,
   3.272882780308966,
   3.271032389958183,
   3.4471375864352245,
   3.5743065264966702,
   2.910415674653033,
   3.762211509770584,
   3.511883582923195]},
 {'user_id': [16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16],
  'item_id': [24, 20, 6, 25, 19, 16, 11, 7, 9, 4, 12, 3, 1],
  'Rating': [2.896670924290275,
   2.8400078541071734,
   4.187537842274377,
   3.1081412678144753,
   2.6514045989078574,
   2.300670422782554,
   3.1387972333596226,
   2.553824540759903,
   2.896361303626768,
   2.292418194746736,
   2.5748286044005866,
   3.0804897506790896,
   3.3610275707931736]},
 {'user_id': [17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17],
  'item_id': [3, 24, 20, 5, 6, 14, 17, 10, 13, 16, 11, 7, 23, 1],
  'Rating': [3.0216270801010414,
   3.081894827266545,
   3.0444986340910383,
   3.597067679642197,
   4.1015393287817465,
   3.320796139988145,
   2.887255892686246,
   2.6023386380050786,
   3.0768625200520736,
   2.795992467667582,
   2.958898356568863,
   2.771917162778908,
   3.0194564061504816,
   2.8775436905330185]},
 {'user_id': [18, 18, 18, 18, 18, 18, 18, 18, 18, 18],
  'item_id': [3, 8, 20, 25, 13, 16, 11, 18, 4, 23],
  'Rating': [3.3900827130840465,
   3.1026107656885222,
   3.1043411280115154,
   3.00055615236553,
   3.250825368257674,
   2.699980217043751,
   2.9676594218100902,
   3.3434226785472787,
   3.0595787737052147,
   2.794454948161005]},
 {'user_id': [19, 19, 19, 19, 19, 19, 19, 19],
  'item_id': [24, 6, 10, 22, 13, 15, 4, 3],
  'Rating': [3.3575586778514674,
   4.340599752814275,
   3.6824554230617066,
   3.4885373176295245,
   2.9921551678857474,
   3.5638838612354924,
   3.382301226012975,
   3.35543780593775]},
 {'user_id': [20, 20, 20, 20, 20, 20, 20, 20],
  'item_id': [3, 5, 14, 22, 13, 9, 12, 23],
  'Rating': [3.498974175629747,
   3.423778045751921,
   2.9088799581800315,
   3.785817565321667,
   2.854551567331828,
   3.9691764627618533,
   3.6065126591497587,
   2.9725151286559752]},
 {'user_id': [21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21],
  'item_id': [8, 24, 20, 5, 14, 25, 22, 13, 19, 16, 11, 23, 7, 3, 1],
  'Rating': [3.5270592905544644,
   3.5834340837888443,
   3.435323362116289,
   2.993494577525536,
   2.7513631512933245,
   3.3930272113546334,
   3.5916766716892696,
   2.8679934449779294,
   3.8167554346411894,
   3.367040948926088,
   3.2240267368825752,
   2.852036730629501,
   3.4072711781200846,
   3.347514023435321,
   3.3631063355681827]},
 {'user_id': [22, 22, 22, 22, 22, 22, 22, 22, 22, 22],
  'item_id': [21, 20, 14, 25, 13, 16, 11, 7, 2, 23],
  'Rating': [3.57514100737577,
   3.3141385646793067,
   3.8004800151754976,
   3.3640994770156945,
   2.81068901040353,
   2.9665524555769167,
   3.0346917502263513,
   2.8659018310740927,
   3.1530499262761773,
   3.1796549777025924]},
 {'user_id': [23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23],
  'item_id': [21, 3, 24, 20, 14, 17, 10, 25, 15, 16, 11, 7, 18, 2, 23],
  'Rating': [3.2198434564170095,
   3.666174567079682,
   3.525960651473778,
   3.0275937367744237,
   3.5248346334356295,
   2.971107820619919,
   3.4836843091726477,
   3.153820288723615,
   3.9773070386162503,
   3.0305974578688697,
   2.817087152279325,
   3.1866524706900363,
   2.6242059842636305,
   2.972789605625334,
   2.7914844212517496]},
 {'user_id': [24, 24, 24, 24, 24, 24, 24, 24],
  'item_id': [24, 5, 6, 22, 19, 11, 9, 23],
  'Rating': [3.7382508217766315,
   3.9039750200199967,
   3.685523451115002,
   3.3598703241436314,
   2.914908610223935,
   3.3540673680195567,
   3.778437532755531,
   3.2555546461682847]},
 {'user_id': [25, 25, 25, 25, 25, 25, 25, 25],
  'item_id': [21, 24, 20, 14, 25, 22, 19, 2],
  'Rating': [3.099085463682395,
   3.551126030819152,
   2.996356475896566,
   3.2726724660625255,
   3.33610410172917,
   3.486387591496734,
   3.3079274507535517,
   3.3886406981743535]}]

In [49]:
def User_item_score2(user_list):
    final_list=[]
    for user in user_list:
        
        gadget_seen_by_user=train_matrix.columns[train_matrix[train_matrix.index==user].notna().any()].tolist()
        a=sim_user_8_u[sim_user_8_u.index==user].values #similar users to a particular user
        b=a.squeeze().tolist()
        c=gadget_user[gadget_user.index.isin(b)]
        l=','.join(c.values)
        gadget_seen_by_similar_users=l.split(',')
        gadget_under_considiration=list(set(gadget_seen_by_similar_users)-set(list(map(str,gadget_seen_by_user))))
        gadget_under_considiration=list(map(int, gadget_under_considiration))
        score= {'user_id':[],'item_id':[], 'Rating':[]}

        for item in gadget_under_considiration:
            d=final_user.loc[:,item] #sabai uer le tyo item lai deko ratings
            e=d[d.index.isin(b)] #similar users le deko ratings extract gariyo
            f=e[e.notnull()]
            avg_user=train_data.loc[train_data['user_id']==user,'rating_mean'].values[0]
            index = f.index.values.squeeze().tolist() #neighbour users
            corr=similarity_with_user.loc[user,index]
            fin = pd.concat([f, corr], axis=1)
            fin.columns = ['adg_score','correlation']
            fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
            nume = fin['score'].sum()
            deno = fin['correlation'].sum()
            final_score = avg_user + (nume/deno)
            score['user_id'].append(user)
            score['item_id'].append(item)
            score['Rating'].append(final_score)
      
        final_list.append(score)
    return final_list

In [50]:
predicted = User_item_score2(users)
predicted

[{'user_id': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
  'item_id': [8, 24, 20, 5, 6, 14, 25, 13, 11, 18, 4, 3, 1],
  'Rating': [3.0994698194557593,
   3.5421851348666102,
   3.483584086242784,
   3.580157367551793,
   3.688186914492467,
   3.175494962549985,
   2.8879760985838265,
   3.552270854553793,
   3.702983936305735,
   2.324537636822713,
   3.398178970047695,
   3.4885878571408893,
   3.08243057842341]},
 {'user_id': [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
  'item_id': [21, 24, 20, 14, 25, 22, 13, 15, 16, 11, 18, 3],
  'Rating': [2.838650352500167,
   3.601046381184437,
   3.636356564694784,
   3.301546880540399,
   3.6723098383561137,
   3.492529919038854,
   3.435423367447595,
   3.499964792304987,
   3.495963803801798,
   3.2350426439122724,
   2.5137568626939055,
   3.365936216562048]},
 {'user_id': [3, 3, 3, 3, 3, 3, 3, 3, 3],
  'item_id': [21, 24, 14, 17, 16, 7, 9, 12, 23],
  'Rating': [3.3430102298227595,
   3.6463470554005784,
   3.568314563030529,
   2.8392053662392116,
   3.6264273231617614,
   2.483405312432636,
   3.950883140314211,
   2.942171574875326,
   2.864262064647247]},
 {'user_id': [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
  'item_id': [21, 24, 6, 14, 10, 22, 13, 16, 11, 23, 9, 12, 3],
  'Rating': [4.036815191953379,
   3.902025158252937,
   3.4785543459037798,
   3.5567775307942164,
   3.392785641305688,
   3.479349027410323,
   3.042350449127005,
   3.1952465747227956,
   3.5465640539418657,
   3.4560242097112734,
   3.7477205086206613,
   3.1293147274830058,
   3.501925726306699]},
 {'user_id': [5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
  'item_id': [21, 24, 17, 25, 13, 15, 19, 18, 4, 12, 23],
  'Rating': [3.3582170800569484,
   3.769638576047629,
   3.1413173353088357,
   2.68473586151526,
   3.2680545930448126,
   3.496186351169057,
   3.630968912940755,
   2.8506037488125555,
   3.13459055072527,
   2.798444809193314,
   3.4343286522356173]},
 {'user_id': [6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
  'item_id': [21, 24, 20, 5, 6, 17, 25, 13, 15, 19, 16, 11, 12, 2],
  'Rating': [2.750304512971778,
   3.4503655460434497,
   2.8348133405989997,
   2.8256479213748067,
   3.6761470820710094,
   2.4845379884236882,
   3.0015797463342087,
   2.5140042052898894,
   2.9727208220549537,
   3.034639116887394,
   3.34450768376709,
   2.828593317397821,
   3.0945278115335078,
   3.080457110089748]},
 {'user_id': [7, 7, 7, 7, 7, 7, 7],
  'item_id': [8, 6, 14, 25, 16, 18, 1],
  'Rating': [3.994644258642646,
   3.9191245035842606,
   3.2351203775719797,
   3.477757661176236,
   3.1829242766845662,
   2.731244932288,
   3.365948832243524]},
 {'user_id': [8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8],
  'item_id': [21, 20, 6, 14, 25, 22, 15, 16, 11, 7, 18, 4, 9, 12],
  'Rating': [2.9199541087744216,
   2.6906022760618225,
   3.7095953013558494,
   3.260962500327567,
   3.1499987472275044,
   3.3140003837299052,
   3.9707224624125916,
   3.198259459191165,
   3.1072686123828475,
   3.2181756703445195,
   2.619190779778133,
   3.045243911068796,
   3.9041563346580386,
   3.2809884470043102]},
 {'user_id': [9, 9, 9, 9, 9, 9, 9],
  'item_id': [21, 5, 17, 16, 12, 2, 23],
  'Rating': [3.4828831624044603,
   3.237199543876509,
   2.9113896720476125,
   3.0328854622156856,
   2.531321684807519,
   3.120248521441444,
   2.8237281530568135]},
 {'user_id': [10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
  'item_id': [6, 17, 10, 13, 15, 16, 11, 23, 3, 1],
  'Rating': [3.4853417032148073,
   3.659459011610561,
   2.6822272264970537,
   2.5499737471539876,
   3.4697969527797565,
   3.302391375274888,
   2.9662213722850868,
   3.115323652308982,
   3.219861503531335,
   2.8095129924260647]},
 {'user_id': [11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11],
  'item_id': [8, 24, 20, 5, 17, 25, 10, 13, 16, 11, 23, 7, 9, 12, 3],
  'Rating': [3.543383113210305,
   3.6486538909936006,
   3.0337835373230333,
   3.067575266355788,
   3.172377536010896,
   2.3366237964624608,
   3.5849740484473247,
   3.1341449355687963,
   2.7112724383483187,
   3.2278317528829135,
   2.8171134774786877,
   3.0117949344616273,
   3.004678592080943,
   3.0032258633110693,
   3.159513098290686]},
 {'user_id': [12, 12, 12, 12, 12, 12, 12, 12, 12, 12],
  'item_id': [21, 24, 20, 6, 22, 13, 9, 4, 23, 1],
  'Rating': [2.946466105111868,
   3.5558615982253166,
   2.8662965873815214,
   4.238572474439438,
   3.238661990355196,
   2.722997195686217,
   3.4595603779778297,
   2.754619441080198,
   3.1872765660997677,
   3.4305287929393913]},
 {'user_id': [13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13],
  'item_id': [3, 5, 14, 17, 10, 22, 13, 15, 19, 11, 9, 4, 12, 2, 23],
  'Rating': [3.34520915506346,
   3.590440167054135,
   3.2337834246236237,
   3.6154383623195563,
   3.6282809386806005,
   3.012016639804638,
   3.1639052450998886,
   3.1443626468881316,
   3.5123041967401476,
   3.859324402339254,
   3.179757529556244,
   3.399644979383747,
   3.0373503818392895,
   3.1713296346290982,
   3.4630860367603318]},
 {'user_id': [14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14],
  'item_id': [21, 8, 24, 20, 5, 17, 25, 22, 15, 9, 18, 2, 23, 1],
  'Rating': [2.911503934887731,
   3.2888132472643155,
   3.0954219104813516,
   3.135372259181654,
   3.6703869369465143,
   3.060506860366967,
   2.985278653565421,
   3.494382267730905,
   3.8264292494457273,
   2.88700778064108,
   3.4584380174387146,
   3.3477764038498483,
   3.1278948728701934,
   2.9106737770377253]},
 {'user_id': [15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15],
  'item_id': [21, 8, 20, 6, 17, 25, 16, 23, 9, 4, 12, 3],
  'Rating': [3.255554016725653,
   3.564557181379509,
   3.572795765781362,
   3.56935980864108,
   3.4073912333043737,
   3.272882780308966,
   3.271032389958183,
   3.4471375864352245,
   3.5743065264966702,
   2.910415674653033,
   3.762211509770584,
   3.511883582923195]},
 {'user_id': [16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16],
  'item_id': [24, 20, 6, 25, 19, 16, 11, 7, 9, 4, 12, 3, 1],
  'Rating': [2.896670924290275,
   2.8400078541071734,
   4.187537842274377,
   3.1081412678144753,
   2.6514045989078574,
   2.300670422782554,
   3.1387972333596226,
   2.553824540759903,
   2.896361303626768,
   2.292418194746736,
   2.5748286044005866,
   3.0804897506790896,
   3.3610275707931736]},
 {'user_id': [17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17],
  'item_id': [3, 24, 20, 5, 6, 14, 17, 10, 13, 16, 11, 7, 23, 1],
  'Rating': [3.0216270801010414,
   3.081894827266545,
   3.0444986340910383,
   3.597067679642197,
   4.1015393287817465,
   3.320796139988145,
   2.887255892686246,
   2.6023386380050786,
   3.0768625200520736,
   2.795992467667582,
   2.958898356568863,
   2.771917162778908,
   3.0194564061504816,
   2.8775436905330185]},
 {'user_id': [18, 18, 18, 18, 18, 18, 18, 18, 18, 18],
  'item_id': [3, 8, 20, 25, 13, 16, 11, 18, 4, 23],
  'Rating': [3.3900827130840465,
   3.1026107656885222,
   3.1043411280115154,
   3.00055615236553,
   3.250825368257674,
   2.699980217043751,
   2.9676594218100902,
   3.3434226785472787,
   3.0595787737052147,
   2.794454948161005]},
 {'user_id': [19, 19, 19, 19, 19, 19, 19, 19],
  'item_id': [24, 6, 10, 22, 13, 15, 4, 3],
  'Rating': [3.3575586778514674,
   4.340599752814275,
   3.6824554230617066,
   3.4885373176295245,
   2.9921551678857474,
   3.5638838612354924,
   3.382301226012975,
   3.35543780593775]},
 {'user_id': [20, 20, 20, 20, 20, 20, 20, 20],
  'item_id': [3, 5, 14, 22, 13, 9, 12, 23],
  'Rating': [3.498974175629747,
   3.423778045751921,
   2.9088799581800315,
   3.785817565321667,
   2.854551567331828,
   3.9691764627618533,
   3.6065126591497587,
   2.9725151286559752]},
 {'user_id': [21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21],
  'item_id': [8, 24, 20, 5, 14, 25, 22, 13, 19, 16, 11, 23, 7, 3, 1],
  'Rating': [3.5270592905544644,
   3.5834340837888443,
   3.435323362116289,
   2.993494577525536,
   2.7513631512933245,
   3.3930272113546334,
   3.5916766716892696,
   2.8679934449779294,
   3.8167554346411894,
   3.367040948926088,
   3.2240267368825752,
   2.852036730629501,
   3.4072711781200846,
   3.347514023435321,
   3.3631063355681827]},
 {'user_id': [22, 22, 22, 22, 22, 22, 22, 22, 22, 22],
  'item_id': [21, 20, 14, 25, 13, 16, 11, 7, 2, 23],
  'Rating': [3.57514100737577,
   3.3141385646793067,
   3.8004800151754976,
   3.3640994770156945,
   2.81068901040353,
   2.9665524555769167,
   3.0346917502263513,
   2.8659018310740927,
   3.1530499262761773,
   3.1796549777025924]},
 {'user_id': [23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23],
  'item_id': [21, 3, 24, 20, 14, 17, 10, 25, 15, 16, 11, 7, 18, 2, 23],
  'Rating': [3.2198434564170095,
   3.666174567079682,
   3.525960651473778,
   3.0275937367744237,
   3.5248346334356295,
   2.971107820619919,
   3.4836843091726477,
   3.153820288723615,
   3.9773070386162503,
   3.0305974578688697,
   2.817087152279325,
   3.1866524706900363,
   2.6242059842636305,
   2.972789605625334,
   2.7914844212517496]},
 {'user_id': [24, 24, 24, 24, 24, 24, 24, 24],
  'item_id': [24, 5, 6, 22, 19, 11, 9, 23],
  'Rating': [3.7382508217766315,
   3.9039750200199967,
   3.685523451115002,
   3.3598703241436314,
   2.914908610223935,
   3.3540673680195567,
   3.778437532755531,
   3.2555546461682847]},
 {'user_id': [25, 25, 25, 25, 25, 25, 25, 25],
  'item_id': [21, 24, 20, 14, 25, 22, 19, 2],
  'Rating': [3.099085463682395,
   3.551126030819152,
   2.996356475896566,
   3.2726724660625255,
   3.33610410172917,
   3.486387591496734,
   3.3079274507535517,
   3.3886406981743535]}]

In [51]:
df=pd.json_normalize(predicted,  record_path='user_id')
df

      0
0     1
1     1
2     1
3     1
4     1
..   ..
280  25
281  25
282  25
283  25
284  25

[285 rows x 1 columns]

In [52]:
df1=pd.json_normalize(predicted,  record_path='item_id')
df1

      0
0     8
1    24
2    20
3     5
4     6
..   ..
280  14
281  25
282  22
283  19
284   2

[285 rows x 1 columns]

In [53]:
df2=pd.json_normalize(predicted,  record_path='Rating')
df2

            0
0    3.099470
1    3.542185
2    3.483584
3    3.580157
4    3.688187
..        ...
280  3.272672
281  3.336104
282  3.486388
283  3.307927
284  3.388641

[285 rows x 1 columns]

In [54]:
df3= pd.concat([df,df1,df2],axis=1)
df3.columns=['user_id','item_id','predicted ratings']
df4=df3.loc[:,['user_id','item_id']]
df4
df3

     user_id  item_id  predicted ratings
0          1        8           3.099470
1          1       24           3.542185
2          1       20           3.483584
3          1        5           3.580157
4          1        6           3.688187
..       ...      ...                ...
280       25       14           3.272672
281       25       25           3.336104
282       25       22           3.486388
283       25       19           3.307927
284       25        2           3.388641

[285 rows x 3 columns]

In [55]:
dict1={'user_id':[],'item_id':[],'Actual':[],'Predicted':[]}
for i ,j, k in test_rating_actual.values:
    for l,m,n in df3.values:
        if(i==l and j==m):
            dict1['user_id'].append(i)
            dict1['item_id'].append(j)
            dict1['Actual'].append(k)
            dict1['Predicted'].append(n)

In [56]:
dict1df=pd.DataFrame(dict1)
dict1df

    user_id  item_id  Actual  Predicted
0      16.0      9.0     5.0   2.896361
1       8.0      4.0     3.5   3.045244
2      11.0     11.0     5.0   3.227832
3       8.0     22.0     1.5   3.314000
4      21.0      7.0     2.0   3.407271
..      ...      ...     ...        ...
79      3.0     23.0     4.5   2.864262
80      8.0      7.0     3.0   3.218176
81      8.0      6.0     4.5   3.709595
82     16.0      4.0     1.5   2.292418
83     15.0      4.0     2.5   2.910416

[84 rows x 4 columns]

In [57]:
#RMSE CALCULATION
pred= dict1df['Predicted'].values
target= dict1df['Actual'].values

In [58]:
from sklearn.metrics import mean_squared_error
from math import sqrt
def rmse(predict,targets):
    return sqrt(mean_squared_error(predict,targets))

In [59]:
print(rmse(pred, target))

1.243687156663253

In [60]:
df= pd.json_normalize(predicted,max_level=3)

#df= pd.json_normalize(predicted, 'user_id','item_id',['Rating'])
df
#for i in predicted:
    
    #df=pd.DataFrame(i)
    #print(df)

,user_id,item_id,Rating
0,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[8, 24, 20, 5, 6, 14, 25, 13, 11, 18, 4, 3, 1]","[3.0994698194557593, 3.5421851348666102, 3.483..."
1,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]","[21, 24, 20, 14, 25, 22, 13, 15, 16, 11, 18, 3]","[2.838650352500167, 3.601046381184437, 3.63635..."
2,"[3, 3, 3, 3, 3, 3, 3, 3, 3]","[21, 24, 14, 17, 16, 7, 9, 12, 23]","[3.3430102298227595, 3.6463470554005784, 3.568..."
3,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]","[21, 24, 6, 14, 10, 22, 13, 16, 11, 23, 9, 12, 3]","[4.036815191953379, 3.902025158252937, 3.47855..."
4,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]","[21, 24, 17, 25, 13, 15, 19, 18, 4, 12, 23]","[3.3582170800569484, 3.769638576047629, 3.1413..."
5,"[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]","[21, 24, 20, 5, 6, 17, 25, 13, 15, 19, 16, 11,...","[2.750304512971778, 3.4503655460434497, 2.8348..."
6,"[7, 7, 7, 7, 7, 7, 7]","[8, 6, 14, 25, 16, 18, 1]","[3.994644258642646, 3.9191245035842606, 3.2351..."
7,"[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8]","[21, 20, 6, 14, 25, 22, 15, 16, 11, 7, 18, 4, ...","[2.9199541087744216, 2.6906022760618225, 3.709..."
8,"[9, 9, 9, 9, 9, 9, 9]","[21, 5, 17, 16, 12, 2, 23]","[3.4828831624044603, 3.237199543876509, 2.9113..."
9,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]","[6, 17, 10, 13, 15, 16, 11, 23, 3, 1]","[3.4853417032148073, 3.659459011610561, 2.6822..."
10,"[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1...","[8, 24, 20, 5, 17, 25, 10, 13, 16, 11, 23, 7, ...","[3.543383113210305, 3.6486538909936006, 3.0337..."
11,"[12, 12, 12, 12, 12, 12, 12, 12, 12, 12]","[21, 24, 20, 6, 22, 13, 9, 4, 23, 1]","[2.946466105111868, 3.5558615982253166, 2.8662..."
12,"[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...","[3, 5, 14, 17, 10, 22, 13, 15, 19, 11, 9, 4, 1...","[3.34520915506346, 3.590440167054135, 3.233783..."
13,"[14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 1...","[21, 8, 24, 20, 5, 17, 25, 22, 15, 9, 18, 2, 2...","[2.911503934887731, 3.2888132472643155, 3.0954..."
14,"[15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15]","[21, 8, 20, 6, 17, 25, 16, 23, 9, 4, 12, 3]","[3.255554016725653, 3.564557181379509, 3.57279..."
15,"[16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 1...","[24, 20, 6, 25, 19, 16, 11, 7, 9, 4, 12, 3, 1]","[2.896670924290275, 2.8400078541071734, 4.1875..."
16,"[17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 1...","[3, 24, 20, 5, 6, 14, 17, 10, 13, 16, 11, 7, 2...","[3.0216270801010414, 3.081894827266545, 3.0444..."
17,"[18, 18, 18, 18, 18, 18, 18, 18, 18, 18]","[3, 8, 20, 25, 13, 16, 11, 18, 4, 23]","[3.3900827130840465, 3.1026107656885222, 3.104..."
18,"[19, 19, 19, 19, 19, 19, 19, 19]","[24, 6, 10, 22, 13, 15, 4, 3]","[3.3575586778514674, 4.340599752814275, 3.6824..."
19,"[20, 20, 20, 20, 20, 20, 20, 20]","[3, 5, 14, 22, 13, 9, 12, 23]","[3.498974175629747, 3.423778045751921, 2.90887..."
20,"[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[8, 24, 20, 5, 14, 25, 22, 13, 19, 16, 11, 23,...","[3.5270592905544644, 3.5834340837888443, 3.435..."
21,"[22, 22, 22, 22, 22, 22, 22, 22, 22, 22]","[21, 20, 14, 25, 13, 16, 11, 7, 2, 23]","[3.57514100737577, 3.3141385646793067, 3.80048..."
22,"[23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 2...","[21, 3, 24, 20, 14, 17, 10, 25, 15, 16, 11, 7,...","[3.2198434564170095, 3.666174567079682, 3.5259..."
23,"[24, 24, 24, 24, 24, 24, 24, 24]","[24, 5, 6, 22, 19, 11, 9, 23]","[3.7382508217766315, 3.9039750200199967, 3.685..."
24,"[25, 25, 25, 25, 25, 25, 25, 25]","[21, 24, 20, 14, 25, 22, 19, 2]","[3.099085463682395, 3.551126030819152, 2.99635..."