In [1]:
import pandas as pd
import numpy as np 
# numpy..numerical python deals with multidimensional array...matrices
import math

In [2]:
Smartphones=pd.read_csv('updated_smartphone.csv')
Ratings=pd.read_csv('updated_rating.csv')
Mean= Ratings.groupby(['user_id'], as_index = False, sort = False).mean().rename(columns = {'ratings': 'rating_mean'})[['user_id','rating_mean']]
Ratings= pd.merge(Ratings, Mean, on ='user_id')
Ratings['rating_adjusted']=Ratings['ratings']-Ratings['rating_mean']
Ratings

     user_id  smartphone_id  ratings  rating_mean  rating_adjusted
0          1              1      3.0        3.250           -0.250
1          1              2      3.5        3.250            0.250
2          1              4      2.5        3.250           -0.750
3          1              5      2.0        3.250           -1.250
4          1              7      3.0        3.250           -0.250
..       ...            ...      ...          ...              ...
419       25             13      2.0        3.375           -1.375
420       25             15      5.0        3.375            1.625
421       25             17      1.0        3.375           -2.375
422       25             18      3.0        3.375           -0.375
423       25             23      1.5        3.375           -1.875

[424 rows x 5 columns]

In [3]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(Ratings, test_size=0.30) 
test_data

     user_id  smartphone_id  ratings  rating_mean  rating_adjusted
36         2             23      3.5     3.294118         0.205882
377       23              4      4.0     3.136364         0.863636
167       10             15      2.5     3.058824        -0.558824
150        9             19      1.5     3.166667        -1.666667
42         3              6      4.0     3.368421         0.631579
..       ...            ...      ...          ...              ...
40         3              4      5.0     3.368421         1.631579
6          1              9      3.5     3.250000         0.250000
413       25              7      2.5     3.375000        -0.875000
262       16              9      5.0     3.052632         1.947368
197       12             10      4.0     3.325000         0.675000

[128 rows x 5 columns]

In [4]:
test_rating_actual=test_data.loc[:,['user_id','smartphone_id','ratings']]
test_rating_actual

     user_id  smartphone_id  ratings
36         2             23      3.5
377       23              4      4.0
167       10             15      2.5
150        9             19      1.5
42         3              6      4.0
..       ...            ...      ...
40         3              4      5.0
6          1              9      3.5
413       25              7      2.5
262       16              9      5.0
197       12             10      4.0

[128 rows x 3 columns]

In [5]:
train_data

     user_id  smartphone_id  ratings  rating_mean  rating_adjusted
391       24              6      2.0     3.261905        -1.261905
330       20              9      4.0     3.333333         0.666667
383       23             13      2.0     3.136364        -1.136364
13         1             19      4.0     3.250000         0.750000
153        9             22      2.5     3.166667        -0.666667
..       ...            ...      ...          ...              ...
105        7              7      2.5     3.325000        -0.825000
312       19              9      2.5     3.416667        -0.916667
3          1              5      2.0     3.250000        -1.250000
325       20              2      3.5     3.333333         0.166667
61         4              8      3.5     3.333333         0.166667

[296 rows x 5 columns]

In [6]:
#make pivot table ..train data
train_matrix=pd.pivot_table(train_data,index='user_id',columns='smartphone_id',values='ratings') #value with actual ratings
train_matrix

smartphone_id,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
user_id,,,,,,,,,,,,,,,,,,,,,
1,3.0,3.5,NaN,NaN,2.0,NaN,3.0,NaN,NaN,NaN,...,1.5,5.0,NaN,4.0,2.0,NaN,4.5,NaN,2.5,5.0
2,4.5,NaN,3.0,1.0,3.5,4.0,5.0,2.5,4.5,2.5,...,2.5,NaN,4.5,5.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,2.5,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,2.5,NaN,4.0,4.5,NaN,NaN,3.5,NaN,3.0,...,NaN,NaN,3.0,4.5,5.0,NaN,NaN,NaN,NaN,NaN
5,4.0,4.5,NaN,NaN,3.5,4.5,5.0,2.0,2.0,4.0,...,1.0,NaN,NaN,NaN,2.5,NaN,1.5,3.0,NaN,NaN
6,NaN,NaN,3.5,NaN,NaN,NaN,NaN,5.0,NaN,5.0,...,NaN,2.0,3.5,NaN,NaN,NaN,3.0,1.0,NaN,NaN
7,NaN,4.0,3.5,2.0,4.0,4.0,2.5,NaN,5.0,4.5,...,2.0,4.5,NaN,3.5,1.5,2.0,4.0,NaN,5.0,NaN
8,NaN,5.0,3.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,5.0,1.5,4.5,NaN,NaN
9,2.0,NaN,NaN,3.5,4.0,4.5,1.0,5.0,2.0,4.0,...,NaN,3.0,5.0,NaN,3.0,NaN,2.5,NaN,3.0,1.5
10,NaN,1.0,NaN,NaN,3.5,NaN,4.5,NaN,NaN,NaN,...,NaN,3.0,2.0,1.5,NaN,4.5,NaN,NaN,3.5,3.0
11,NaN,2.5,NaN,3.0,NaN,3.5,NaN,4.0,NaN,NaN,...,NaN,NaN,3.5,4.0,NaN,NaN,2.5,NaN,NaN,NaN
12,3.0,NaN,NaN,NaN,NaN,2.5,2.0,3.0,NaN,NaN,...,1.0,4.0,2.0,4.0,NaN,5.0,2.5,NaN,NaN,3.5
13,2.5,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,2.5,NaN,3.5,NaN,NaN,4.5,NaN,NaN,5.0,1.0
14,NaN,5.0,3.5,NaN,NaN,4.5,1.0,NaN,5.0,2.0,...,1.5,3.0,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN
15,4.0,3.0,NaN,2.5,3.5,NaN,5.0,1.5,NaN,4.0,...,NaN,NaN,1.0,NaN,NaN,NaN,5.0,3.5,4.0,NaN
16,5.0,3.0,NaN,1.5,3.0,3.0,NaN,1.0,NaN,2.0,...,NaN,2.0,4.0,NaN,NaN,1.5,2.5,3.5,NaN,NaN
17,NaN,2.0,NaN,1.0,5.0,NaN,NaN,NaN,3.0,NaN,...,NaN,5.0,NaN,1.0,NaN,3.5,4.5,NaN,NaN,NaN
18,3.5,NaN,NaN,4.5,4.0,NaN,NaN,NaN,2.5,NaN,...,NaN,1.0,NaN,2.0,NaN,2.5,4.0,NaN,3.0,NaN
19,3.5,4.0,NaN,NaN,3.5,NaN,2.5,4.5,2.5,NaN,...,5.0,3.5,4.5,NaN,NaN,5.0,NaN,3.5,NaN,NaN
20,NaN,3.5,NaN,NaN,NaN,4.0,2.0,4.5,4.0,NaN,...,4.5,2.5,1.0,NaN,3.5,NaN,3.0,NaN,4.5,NaN
21,NaN,3.0,NaN,3.5,NaN,2.5,2.0,NaN,4.0,4.5,...,NaN,2.5,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
22,2.5,NaN,3.0,NaN,4.5,NaN,NaN,NaN,3.0,2.0,...,NaN,5.0,3.0,1.5,NaN,3.5,4.0,5.0,3.0,NaN
23,4.5,NaN,NaN,NaN,2.5,3.0,NaN,3.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
24,3.0,NaN,NaN,2.5,NaN,2.0,NaN,NaN,NaN,2.5,...,4.0,NaN,1.0,2.0,3.5,4.5,4.0,NaN,NaN,3.0
25,3.5,NaN,NaN,4.5,NaN,5.0,NaN,3.5,NaN,4.5,...,NaN,1.0,3.0,NaN,NaN,NaN,NaN,1.5,NaN,NaN

In [7]:
#make pivot table...test data
test_matrix=pd.pivot_table(test_data,index='user_id',columns='smartphone_id',values='ratings') #value with actual ratings
test_matrix

smartphone_id,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,2.5,NaN,NaN,NaN,4.0,3.5,2.5,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.5,NaN,NaN
2,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN
3,4.5,NaN,NaN,5.0,2.5,4.0,NaN,4.5,NaN,3.0,...,3.5,NaN,NaN,NaN,2.0,1.5,4.0,4.5,NaN,3.0
4,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5
5,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3.0,NaN,NaN,2.5,4.0,NaN,2.5,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
8,2.0,NaN,NaN,3.5,2.0,4.5,NaN,3.5,NaN,4.5,...,NaN,3.0,NaN,4.0,NaN,NaN,NaN,NaN,3.5,NaN
9,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.5,NaN,4.5,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,2.5,NaN,NaN,NaN,3.5,4.0,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,2.0,NaN,NaN,NaN
11,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,NaN,3.5,NaN,NaN
12,NaN,5.0,5.0,NaN,4.5,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,4.5,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5,5.0,NaN,3.0,4.0,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,4.5,3.0,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,3.50,NaN,NaN,NaN,NaN,NaN,NaN,4.5
18,NaN,3.0,NaN,NaN,NaN,5.0,1.5,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,1.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,3.0
20,4.5,NaN,NaN,1.5,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,5.0,NaN,1.0,NaN,NaN,NaN,5.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,2.0,NaN,5.0,NaN,3.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,3.5,4.0,NaN,NaN,NaN,5.0,4.5,3.0,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,4.0,NaN,2.0,NaN,2.5,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#replacing values with adjusted ratings(normalization of ratings for cosine similarity)
final=pd.pivot_table(train_data,index='user_id', columns='smartphone_id', values='rating_adjusted')
final

smartphone_id,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
user_id,,,,,,,,,,,,,,,,,,,,,
1,-0.250000,0.250000,NaN,NaN,-1.250000,NaN,-0.250000,NaN,NaN,NaN,...,-1.750000,1.750000,NaN,0.750000,-1.250000,NaN,1.250000,NaN,-0.750000,1.750000
2,1.205882,NaN,-0.294118,-2.294118,0.205882,0.705882,1.705882,-0.794118,1.205882,-0.794118,...,-0.794118,NaN,1.205882,1.705882,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,-0.368421,0.631579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.631579,-0.868421,NaN,NaN,NaN,NaN,NaN,NaN
4,-1.333333,-0.833333,NaN,0.666667,1.166667,NaN,NaN,0.166667,NaN,-0.333333,...,NaN,NaN,-0.333333,1.166667,1.666667,NaN,NaN,NaN,NaN,NaN
5,0.750000,1.250000,NaN,NaN,0.250000,1.250000,1.750000,-1.250000,-1.250000,0.750000,...,-2.250000,NaN,NaN,NaN,-0.750000,NaN,-1.750000,-0.250000,NaN,NaN
6,NaN,NaN,0.461538,NaN,NaN,NaN,NaN,1.961538,NaN,1.961538,...,NaN,-1.038462,0.461538,NaN,NaN,NaN,-0.038462,-2.038462,NaN,NaN
7,NaN,0.675000,0.175000,-1.325000,0.675000,0.675000,-0.825000,NaN,1.675000,1.175000,...,-1.325000,1.175000,NaN,0.175000,-1.825000,-1.325000,0.675000,NaN,1.675000,NaN
8,NaN,1.777778,-0.222222,NaN,NaN,NaN,-0.222222,NaN,NaN,NaN,...,-2.222222,NaN,NaN,NaN,NaN,1.777778,-1.722222,1.277778,NaN,NaN
9,-1.166667,NaN,NaN,0.333333,0.833333,1.333333,-2.166667,1.833333,-1.166667,0.833333,...,NaN,-0.166667,1.833333,NaN,-0.166667,NaN,-0.666667,NaN,-0.166667,-1.666667
10,NaN,-2.058824,NaN,NaN,0.441176,NaN,1.441176,NaN,NaN,NaN,...,NaN,-0.058824,-1.058824,-1.558824,NaN,1.441176,NaN,NaN,0.441176,-0.058824
11,NaN,-0.678571,NaN,-0.178571,NaN,0.321429,NaN,0.821429,NaN,NaN,...,NaN,NaN,0.321429,0.821429,NaN,NaN,-0.678571,NaN,NaN,NaN
12,-0.325000,NaN,NaN,NaN,NaN,-0.825000,-1.325000,-0.325000,NaN,NaN,...,-2.325000,0.675000,-1.325000,0.675000,NaN,1.675000,-0.825000,NaN,NaN,0.175000
13,-0.875000,NaN,NaN,NaN,NaN,0.625000,NaN,NaN,NaN,NaN,...,-0.875000,NaN,0.125000,NaN,NaN,1.125000,NaN,NaN,1.625000,-2.375000
14,NaN,1.766667,0.266667,NaN,NaN,1.266667,-2.233333,NaN,1.766667,-1.233333,...,-1.733333,-0.233333,NaN,NaN,NaN,NaN,0.266667,NaN,NaN,NaN
15,0.684211,-0.315789,NaN,-0.815789,0.184211,NaN,1.684211,-1.815789,NaN,0.684211,...,NaN,NaN,-2.315789,NaN,NaN,NaN,1.684211,0.184211,0.684211,NaN
16,1.947368,-0.052632,NaN,-1.552632,-0.052632,-0.052632,NaN,-2.052632,NaN,-1.052632,...,NaN,-1.052632,0.947368,NaN,NaN,-1.552632,-0.552632,0.447368,NaN,NaN
17,NaN,-1.100000,NaN,-2.100000,1.900000,NaN,NaN,NaN,-0.100000,NaN,...,NaN,1.900000,NaN,-2.100000,NaN,0.400000,1.400000,NaN,NaN,NaN
18,0.312500,NaN,NaN,1.312500,0.812500,NaN,NaN,NaN,-0.687500,NaN,...,NaN,-2.187500,NaN,-1.187500,NaN,-0.687500,0.812500,NaN,-0.187500,NaN
19,0.083333,0.583333,NaN,NaN,0.083333,NaN,-0.916667,1.083333,-0.916667,NaN,...,1.583333,0.083333,1.083333,NaN,NaN,1.583333,NaN,0.083333,NaN,NaN
20,NaN,0.166667,NaN,NaN,NaN,0.666667,-1.333333,1.166667,0.666667,NaN,...,1.166667,-0.833333,-2.333333,NaN,0.166667,NaN,-0.333333,NaN,1.166667,NaN
21,NaN,-0.153846,NaN,0.346154,NaN,-0.653846,-1.153846,NaN,0.846154,1.346154,...,NaN,-0.653846,NaN,NaN,NaN,-0.153846,NaN,NaN,NaN,NaN
22,-0.777778,NaN,-0.277778,NaN,1.222222,NaN,NaN,NaN,-0.277778,-1.277778,...,NaN,1.722222,-0.277778,-1.777778,NaN,0.222222,0.722222,1.722222,-0.277778,NaN
23,1.363636,NaN,NaN,NaN,-0.636364,-0.136364,NaN,0.363636,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-2.136364,NaN,NaN,NaN
24,-0.261905,NaN,NaN,-0.761905,NaN,-1.261905,NaN,NaN,NaN,-0.761905,...,0.738095,NaN,-2.261905,-1.261905,0.238095,1.238095,0.738095,NaN,NaN,-0.261905
25,0.125000,NaN,NaN,1.125000,NaN,1.625000,NaN,0.125000,NaN,1.125000,...,NaN,-2.375000,-0.375000,NaN,NaN,NaN,NaN,-1.875000,NaN,NaN

In [9]:
#if any NaN values is there then replace that with the average of users
# Replacing NaN by user Average
final_user = final.apply(lambda row: row.fillna(row.mean()), axis=1)
#matrix with NaN value is a sparse matrix
final_user

smartphone_id,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
user_id,,,,,,,,,,,,,,,,,,,,,
1,-0.250000,0.250000,0.166667,0.166667,-1.250000,0.166667,-0.250000,0.166667,0.166667,0.166667,...,-1.750000,1.750000,0.166667,0.750000,-1.250000,0.166667,1.250000,0.166667,-0.750000,1.750000
2,1.205882,0.282805,-0.294118,-2.294118,0.205882,0.705882,1.705882,-0.794118,1.205882,-0.794118,...,-0.794118,0.282805,1.205882,1.705882,0.282805,0.282805,0.282805,0.282805,0.282805,0.282805
3,-0.368421,-0.368421,0.631579,-0.368421,-0.368421,-0.368421,-0.368421,-0.368421,-0.368421,-0.368421,...,-0.368421,-0.368421,1.631579,-0.868421,-0.368421,-0.368421,-0.368421,-0.368421,-0.368421,-0.368421
4,-1.333333,-0.833333,-0.125000,0.666667,1.166667,-0.125000,-0.125000,0.166667,-0.125000,-0.333333,...,-0.125000,-0.125000,-0.333333,1.166667,1.666667,-0.125000,-0.125000,-0.125000,-0.125000,-0.125000
5,0.750000,1.250000,0.016667,0.016667,0.250000,1.250000,1.750000,-1.250000,-1.250000,0.750000,...,-2.250000,0.016667,0.016667,0.016667,-0.750000,0.016667,-1.750000,-0.250000,0.016667,0.016667
6,0.024038,0.024038,0.461538,0.024038,0.024038,0.024038,0.024038,1.961538,0.024038,1.961538,...,0.024038,-1.038462,0.461538,0.024038,0.024038,0.024038,-0.038462,-2.038462,0.024038,0.024038
7,-0.030882,0.675000,0.175000,-1.325000,0.675000,0.675000,-0.825000,-0.030882,1.675000,1.175000,...,-1.325000,1.175000,-0.030882,0.175000,-1.825000,-1.325000,0.675000,-0.030882,1.675000,-0.030882
8,-0.166667,1.777778,-0.222222,-0.166667,-0.166667,-0.166667,-0.222222,-0.166667,-0.166667,-0.166667,...,-2.222222,-0.166667,-0.166667,-0.166667,-0.166667,1.777778,-1.722222,1.277778,-0.166667,-0.166667
9,-1.166667,-0.019608,-0.019608,0.333333,0.833333,1.333333,-2.166667,1.833333,-1.166667,0.833333,...,-0.019608,-0.166667,1.833333,-0.019608,-0.166667,-0.019608,-0.666667,-0.019608,-0.166667,-1.666667
10,-0.104278,-2.058824,-0.104278,-0.104278,0.441176,-0.104278,1.441176,-0.104278,-0.104278,-0.104278,...,-0.104278,-0.058824,-1.058824,-1.558824,-0.104278,1.441176,-0.104278,-0.104278,0.441176,-0.058824
11,0.043651,-0.678571,0.043651,-0.178571,0.043651,0.321429,0.043651,0.821429,0.043651,0.043651,...,0.043651,0.043651,0.321429,0.821429,0.043651,0.043651,-0.678571,0.043651,0.043651,0.043651
12,-0.325000,-0.467857,-0.467857,-0.467857,-0.467857,-0.825000,-1.325000,-0.325000,-0.467857,-0.467857,...,-2.325000,0.675000,-1.325000,0.675000,-0.467857,1.675000,-0.825000,-0.467857,-0.467857,0.175000
13,-0.875000,0.125000,0.125000,0.125000,0.125000,0.625000,0.125000,0.125000,0.125000,0.125000,...,-0.875000,0.125000,0.125000,0.125000,0.125000,1.125000,0.125000,0.125000,1.625000,-2.375000
14,0.074359,1.766667,0.266667,0.074359,0.074359,1.266667,-2.233333,0.074359,1.766667,-1.233333,...,-1.733333,-0.233333,0.074359,0.074359,0.074359,0.074359,0.266667,0.074359,0.074359,0.074359
15,0.684211,-0.315789,0.005639,-0.815789,0.184211,0.005639,1.684211,-1.815789,0.005639,0.684211,...,0.005639,0.005639,-2.315789,0.005639,0.005639,0.005639,1.684211,0.184211,0.684211,0.005639
16,1.947368,-0.052632,-0.319298,-1.552632,-0.052632,-0.052632,-0.319298,-2.052632,-0.319298,-1.052632,...,-0.319298,-1.052632,0.947368,-0.319298,-0.319298,-1.552632,-0.552632,0.447368,-0.319298,-0.319298
17,-0.054545,-1.100000,-0.054545,-2.100000,1.900000,-0.054545,-0.054545,-0.054545,-0.100000,-0.054545,...,-0.054545,1.900000,-0.054545,-2.100000,-0.054545,0.400000,1.400000,-0.054545,-0.054545,-0.054545
18,0.312500,-0.062500,-0.062500,1.312500,0.812500,-0.062500,-0.062500,-0.062500,-0.687500,-0.062500,...,-0.062500,-2.187500,-0.062500,-1.187500,-0.062500,-0.687500,0.812500,-0.062500,-0.187500,-0.062500
19,0.083333,0.583333,0.352564,0.352564,0.083333,0.352564,-0.916667,1.083333,-0.916667,0.352564,...,1.583333,0.083333,1.083333,0.352564,0.352564,1.583333,0.352564,0.083333,0.352564,0.352564
20,-0.083333,0.166667,-0.083333,-0.083333,-0.083333,0.666667,-1.333333,1.166667,0.666667,-0.083333,...,1.166667,-0.833333,-2.333333,-0.083333,0.166667,-0.083333,-0.333333,-0.083333,1.166667,-0.083333
21,0.179487,-0.153846,0.179487,0.346154,0.179487,-0.653846,-1.153846,0.179487,0.846154,1.346154,...,0.179487,-0.653846,0.179487,0.179487,0.179487,-0.153846,0.179487,0.179487,0.179487,0.179487
22,-0.777778,-0.123932,-0.277778,-0.123932,1.222222,-0.123932,-0.123932,-0.123932,-0.277778,-1.277778,...,-0.123932,1.722222,-0.277778,-1.777778,-0.123932,0.222222,0.722222,1.722222,-0.277778,-0.123932
23,1.363636,-0.279221,-0.279221,-0.279221,-0.636364,-0.136364,-0.279221,0.363636,-0.279221,-0.279221,...,-0.279221,-0.279221,-0.279221,-0.279221,-0.279221,-0.279221,-2.136364,-0.279221,-0.279221,-0.279221
24,-0.261905,-0.476190,-0.476190,-0.761905,-0.476190,-1.261905,-0.476190,-0.476190,-0.476190,-0.761905,...,0.738095,-0.476190,-2.261905,-1.261905,0.238095,1.238095,0.738095,-0.476190,-0.476190,-0.261905
25,0.125000,-0.225000,-0.225000,1.125000,-0.225000,1.625000,-0.225000,0.125000,-0.225000,1.125000,...,-0.225000,-2.375000,-0.375000,-0.225000,-0.225000,-0.225000,-0.225000,-1.875000,-0.225000,-0.225000

In [10]:
# Replacing NaN by Gadget Average
final_gadget = final.fillna(final.mean(axis=0))
final_gadget

smartphone_id,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
user_id,,,,,,,,,,,,,,,,,,,,,
1,-0.250000,0.250000,0.105809,-0.437030,-1.250000,0.395659,-0.250000,0.098774,0.160160,0.186318,...,-1.750000,1.750000,-0.166969,0.750000,-1.250000,0.478636,1.250000,-0.056069,-0.750000,1.750000
2,1.205882,0.060535,-0.294118,-2.294118,0.205882,0.705882,1.705882,-0.794118,1.205882,-0.794118,...,-0.794118,-0.086269,1.205882,1.705882,-0.274320,0.478636,-0.067915,-0.056069,0.467790,-0.406232
3,0.098817,-0.368421,0.631579,-0.437030,0.416809,0.395659,-0.295754,0.098774,0.160160,0.186318,...,-0.889689,-0.086269,1.631579,-0.868421,-0.274320,0.478636,-0.067915,-0.056069,0.467790,-0.406232
4,-1.333333,-0.833333,0.105809,0.666667,1.166667,0.395659,-0.295754,0.166667,0.160160,-0.333333,...,-0.889689,-0.086269,-0.333333,1.166667,1.666667,0.478636,-0.067915,-0.056069,0.467790,-0.406232
5,0.750000,1.250000,0.105809,-0.437030,0.250000,1.250000,1.750000,-1.250000,-1.250000,0.750000,...,-2.250000,-0.086269,-0.166969,-0.288371,-0.750000,0.478636,-1.750000,-0.250000,0.467790,-0.406232
6,0.098817,0.060535,0.461538,-0.437030,0.416809,0.395659,-0.295754,1.961538,0.160160,1.961538,...,-0.889689,-1.038462,0.461538,-0.288371,-0.274320,0.478636,-0.038462,-2.038462,0.467790,-0.406232
7,0.098817,0.675000,0.175000,-1.325000,0.675000,0.675000,-0.825000,0.098774,1.675000,1.175000,...,-1.325000,1.175000,-0.166969,0.175000,-1.825000,-1.325000,0.675000,-0.056069,1.675000,-0.406232
8,0.098817,1.777778,-0.222222,-0.437030,0.416809,0.395659,-0.222222,0.098774,0.160160,0.186318,...,-2.222222,-0.086269,-0.166969,-0.288371,-0.274320,1.777778,-1.722222,1.277778,0.467790,-0.406232
9,-1.166667,0.060535,0.105809,0.333333,0.833333,1.333333,-2.166667,1.833333,-1.166667,0.833333,...,-0.889689,-0.166667,1.833333,-0.288371,-0.166667,0.478636,-0.666667,-0.056069,-0.166667,-1.666667
10,0.098817,-2.058824,0.105809,-0.437030,0.441176,0.395659,1.441176,0.098774,0.160160,0.186318,...,-0.889689,-0.058824,-1.058824,-1.558824,-0.274320,1.441176,-0.067915,-0.056069,0.441176,-0.058824
11,0.098817,-0.678571,0.105809,-0.178571,0.416809,0.321429,-0.295754,0.821429,0.160160,0.186318,...,-0.889689,-0.086269,0.321429,0.821429,-0.274320,0.478636,-0.678571,-0.056069,0.467790,-0.406232
12,-0.325000,0.060535,0.105809,-0.437030,0.416809,-0.825000,-1.325000,-0.325000,0.160160,0.186318,...,-2.325000,0.675000,-1.325000,0.675000,-0.274320,1.675000,-0.825000,-0.056069,0.467790,0.175000
13,-0.875000,0.060535,0.105809,-0.437030,0.416809,0.625000,-0.295754,0.098774,0.160160,0.186318,...,-0.875000,-0.086269,0.125000,-0.288371,-0.274320,1.125000,-0.067915,-0.056069,1.625000,-2.375000
14,0.098817,1.766667,0.266667,-0.437030,0.416809,1.266667,-2.233333,0.098774,1.766667,-1.233333,...,-1.733333,-0.233333,-0.166969,-0.288371,-0.274320,0.478636,0.266667,-0.056069,0.467790,-0.406232
15,0.684211,-0.315789,0.105809,-0.815789,0.184211,0.395659,1.684211,-1.815789,0.160160,0.684211,...,-0.889689,-0.086269,-2.315789,-0.288371,-0.274320,0.478636,1.684211,0.184211,0.684211,-0.406232
16,1.947368,-0.052632,0.105809,-1.552632,-0.052632,-0.052632,-0.295754,-2.052632,0.160160,-1.052632,...,-0.889689,-1.052632,0.947368,-0.288371,-0.274320,-1.552632,-0.552632,0.447368,0.467790,-0.406232
17,0.098817,-1.100000,0.105809,-2.100000,1.900000,0.395659,-0.295754,0.098774,-0.100000,0.186318,...,-0.889689,1.900000,-0.166969,-2.100000,-0.274320,0.400000,1.400000,-0.056069,0.467790,-0.406232
18,0.312500,0.060535,0.105809,1.312500,0.812500,0.395659,-0.295754,0.098774,-0.687500,0.186318,...,-0.889689,-2.187500,-0.166969,-1.187500,-0.274320,-0.687500,0.812500,-0.056069,-0.187500,-0.406232
19,0.083333,0.583333,0.105809,-0.437030,0.083333,0.395659,-0.916667,1.083333,-0.916667,0.186318,...,1.583333,0.083333,1.083333,-0.288371,-0.274320,1.583333,-0.067915,0.083333,0.467790,-0.406232
20,0.098817,0.166667,0.105809,-0.437030,0.416809,0.666667,-1.333333,1.166667,0.666667,0.186318,...,1.166667,-0.833333,-2.333333,-0.288371,0.166667,0.478636,-0.333333,-0.056069,1.166667,-0.406232
21,0.098817,-0.153846,0.105809,0.346154,0.416809,-0.653846,-1.153846,0.098774,0.846154,1.346154,...,-0.889689,-0.653846,-0.166969,-0.288371,-0.274320,-0.153846,-0.067915,-0.056069,0.467790,-0.406232
22,-0.777778,0.060535,-0.277778,-0.437030,1.222222,0.395659,-0.295754,0.098774,-0.277778,-1.277778,...,-0.889689,1.722222,-0.277778,-1.777778,-0.274320,0.222222,0.722222,1.722222,-0.277778,-0.406232
23,1.363636,0.060535,0.105809,-0.437030,-0.636364,-0.136364,-0.295754,0.363636,0.160160,0.186318,...,-0.889689,-0.086269,-0.166969,-0.288371,-0.274320,0.478636,-2.136364,-0.056069,0.467790,-0.406232
24,-0.261905,0.060535,0.105809,-0.761905,0.416809,-1.261905,-0.295754,0.098774,0.160160,-0.761905,...,0.738095,-0.086269,-2.261905,-1.261905,0.238095,1.238095,0.738095,-0.056069,0.467790,-0.261905
25,0.125000,0.060535,0.105809,1.125000,0.416809,1.625000,-0.295754,0.125000,0.160160,1.125000,...,-0.889689,-2.375000,-0.375000,-0.288371,-0.274320,0.478636,-0.067915,-1.875000,0.467790,-0.406232

In [11]:
#USING USER AVERAGE

from sklearn.metrics.pairwise import cosine_similarity
b = cosine_similarity(final_user)
np.fill_diagonal(b, 0 )
similarity_with_user = pd.DataFrame(b,index=final_user.index)
similarity_with_user.columns=final_user.index
similarity_with_user

user_id,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.000000,0.203754,-0.117926,-0.414966,0.132118,-0.096416,0.255333,0.046762,-0.150963,-0.323222,...,-0.311735,0.015630,-0.380767,-0.102398,-0.284661,0.202717,-0.135081,-0.248263,-0.286434,-0.250157
2,0.203754,0.000000,-0.129361,-0.198752,0.273514,-0.220338,0.184716,0.039828,-0.328087,-0.118169,...,0.278584,0.083773,-0.370649,-0.166303,-0.352233,-0.102954,-0.197457,-0.076955,-0.352465,-0.323759
3,-0.117926,-0.129361,0.000000,0.173792,-0.059976,0.076607,0.285024,0.233015,0.160310,-0.013616,...,0.302011,0.061113,0.081408,-0.147197,-0.267956,-0.155153,0.096082,0.381174,0.238158,0.277769
4,-0.414966,-0.198752,0.173792,0.000000,-0.206187,-0.000302,-0.046971,0.095521,0.092695,0.277876,...,0.064651,-0.037836,0.226390,0.034792,0.028759,-0.345517,0.331251,-0.012976,0.281156,0.155174
5,0.132118,0.273514,-0.059976,-0.206187,0.000000,0.002861,0.075579,0.448862,-0.010482,-0.030283,...,0.152185,-0.058007,-0.035975,-0.269019,-0.324313,-0.232997,-0.162303,0.245914,-0.336266,0.160994
6,-0.096416,-0.220338,0.076607,-0.000302,0.002861,0.000000,0.054526,-0.176618,0.328708,-0.207397,...,-0.280732,0.011319,0.102281,0.181192,0.168358,0.276436,-0.477179,0.096111,-0.160490,0.532354
7,0.255333,0.184716,0.285024,-0.046971,0.075579,0.054526,0.000000,0.139721,0.008796,-0.152483,...,0.081928,0.223712,-0.192961,-0.293697,0.104423,0.124665,0.051827,0.045921,-0.071808,0.069676
8,0.046762,0.039828,0.233015,0.095521,0.448862,-0.176618,0.139721,0.000000,0.040665,0.032889,...,0.086973,-0.154161,-0.101200,-0.072285,-0.085097,-0.227416,0.199803,0.368866,0.143762,-0.012998
9,-0.150963,-0.328087,0.160310,0.092695,-0.010482,0.328708,0.008796,0.040665,0.000000,-0.218456,...,-0.253471,0.026683,-0.044930,0.422825,0.135311,0.145029,0.003340,-0.033771,-0.303954,0.200685
10,-0.323222,-0.118169,-0.013616,0.277876,-0.030283,-0.207397,-0.152483,0.032889,-0.218456,0.000000,...,0.054320,0.182514,0.233245,-0.020313,-0.023216,-0.423339,0.422482,0.037601,0.487070,0.033570
11,-0.014736,0.106227,-0.096154,0.105009,0.222677,0.400440,-0.057207,-0.033114,0.270578,-0.315004,...,-0.098145,0.234097,-0.214065,0.043323,0.080762,0.017396,-0.145928,0.154580,-0.295079,-0.005004
12,0.102085,-0.127717,0.115416,0.374750,0.102452,-0.137867,0.073776,0.572302,-0.034382,0.346453,...,0.110305,0.009599,-0.122744,-0.124127,0.009366,-0.387832,0.298811,0.285059,0.459042,-0.014246
13,-0.151489,0.074717,-0.084522,0.053688,0.100282,-0.150770,0.148268,0.213712,0.311805,0.290666,...,-0.207027,-0.112292,-0.055538,0.133976,0.024775,-0.016799,0.023052,-0.205735,-0.063207,-0.008122
14,0.170327,0.111038,-0.106242,-0.011663,-0.037194,-0.220604,0.255060,0.321507,0.156268,-0.149829,...,0.133018,-0.202531,0.057081,0.038095,0.156315,0.027282,0.117729,-0.091846,-0.140958,-0.003532
15,-0.002108,0.208729,-0.340374,-0.077397,0.245826,-0.046633,0.087836,-0.165762,-0.531521,0.103623,...,0.062089,0.396504,-0.001484,-0.377155,0.091595,-0.105931,0.049555,-0.237283,0.233977,-0.049662
16,-0.311735,0.278584,0.302011,0.064651,0.152185,-0.280732,0.081928,0.086973,-0.253471,0.054320,...,0.000000,0.022149,0.422868,-0.229132,-0.347751,-0.311872,0.167273,0.422055,0.068686,-0.002729
17,0.015630,0.083773,0.061113,-0.037836,-0.058007,0.011319,0.223712,-0.154161,0.026683,0.182514,...,0.022149,0.000000,-0.128046,-0.091675,-0.088338,-0.149866,0.541063,-0.201869,0.204649,-0.342468
18,-0.380767,-0.370649,0.081408,0.226390,-0.035975,0.102281,-0.192961,-0.101200,-0.044930,0.233245,...,0.422868,-0.128046,0.000000,0.050221,-0.121723,-0.031486,0.125035,0.026262,0.142883,0.426661
19,-0.102398,-0.166303,-0.147197,0.034792,-0.269019,0.181192,-0.293697,-0.072285,0.422825,-0.020313,...,-0.229132,-0.091675,0.050221,0.000000,0.054737,0.088103,-0.007260,-0.220927,-0.079453,-0.064643
20,-0.284661,-0.352233,-0.267956,0.028759,-0.324313,0.168358,0.104423,-0.085097,0.135311,-0.023216,...,-0.347751,-0.088338,-0.121723,0.054737,0.000000,0.184695,-0.108478,0.094925,0.317265,0.263085
21,0.202717,-0.102954,-0.155153,-0.345517,-0.232997,0.276436,0.124665,-0.227416,0.145029,-0.423339,...,-0.311872,-0.149866,-0.031486,0.088103,0.184695,0.000000,-0.559270,-0.147644,-0.285523,0.084317
22,-0.135081,-0.197457,0.096082,0.331251,-0.162303,-0.477179,0.051827,0.199803,0.003340,0.422482,...,0.167273,0.541063,0.125035,-0.007260,-0.108478,-0.559270,0.000000,-0.165331,0.339500,-0.444992
23,-0.248263,-0.076955,0.381174,-0.012976,0.245914,0.096111,0.045921,0.368866,-0.033771,0.037601,...,0.422055,-0.201869,0.026262,-0.220927,0.094925,-0.147644,-0.165331,0.000000,0.174221,0.278052
24,-0.286434,-0.352465,0.238158,0.281156,-0.336266,-0.160490,-0.071808,0.143762,-0.303954,0.487070,...,0.068686,0.204649,0.142883,-0.079453,0.317265,-0.285523,0.339500,0.174221,0.000000,0.123814
25,-0.250157,-0.323759,0.277769,0.155174,0.160994,0.532354,0.069676,-0.012998,0.200685,0.033570,...,-0.002729,-0.342468,0.426661,-0.064643,0.263085,0.084317,-0.444992,0.278052,0.123814,0.000000

In [12]:
#USING GADGET AVERAGE

cosine = cosine_similarity(final_gadget)
np.fill_diagonal(cosine, 0 )
similarity_with_gadget = pd.DataFrame(cosine,index=final_gadget.index)
similarity_with_gadget.columns=final_user.index
similarity_with_gadget.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.000000,0.224021,0.049419,-0.238225,0.169752,-0.006111,0.310056,0.105040,-0.160703,-0.117851,...,-0.198926,0.202965,-0.236523,-0.123288,-0.192304,0.240372,0.009186,-0.056975,-0.125126,-0.158357
2,0.224021,0.000000,0.263493,-0.023074,0.397802,0.031124,0.306459,0.236153,-0.255801,0.054740,...,0.404006,0.158356,-0.232448,-0.034230,-0.167135,-0.005243,-0.105562,0.233051,-0.139732,-0.045197
3,0.049419,0.263493,0.000000,0.293524,0.199195,0.431880,0.517993,0.395038,0.280998,0.330747,...,0.374336,0.394035,0.320789,0.370577,-0.049053,0.228361,0.349324,0.394874,0.148843,0.399660
4,-0.238225,-0.023074,0.293524,0.000000,0.006531,0.214450,0.130035,0.260838,0.262540,0.371232,...,0.116579,0.107038,0.277853,0.047468,0.145132,-0.123888,0.399938,0.095363,0.312771,0.314681
5,0.169752,0.397802,0.199195,0.006531,0.000000,0.222934,0.194134,0.627377,0.061177,0.229115,...,0.297521,0.165041,0.186586,-0.042514,-0.107062,0.123531,0.070534,0.518985,-0.087550,0.290187

In [13]:

def find_n_neighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index, 
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1) #axis 0 for index 1 for columns
    return df

In [14]:
# top 3 neighbours for each user
sim_user_8_u = find_n_neighbours(similarity_with_user,8)
sim_user_8_u.head()

         top1  top2  top3  top4  top5  top6  top7  top8
user_id
1           7     2    21    14     5    12     8    17
2          16     5    15     1     7    14    11    17
3          23    16     7    25    24     8     4     9
4          12    22    24    10    18     3    25    11
5           8     2    23    15    11    25    16     1

In [15]:
#list of items rated by every users
train_data = train_data.astype({"smartphone_id": str})
gadget_user = train_data.groupby(by = 'user_id')['smartphone_id'].apply(lambda x:','.join(x))
gadget_user

user_id
1                 19,16,17,12,1,2,20,24,25,7,22,5
2                  18,3,6,9,5,19,4,1,16,12,10,8,7
3                                 19,13,11,3,18,2
4                  15,4,13,19,12,10,2,20,1,18,5,8
5           11,23,9,7,22,5,16,2,20,8,14,10,12,1,6
6                           3,17,22,8,14,18,23,10
7     6,9,10,22,21,2,19,13,24,16,4,11,20,17,3,5,7
8                         23,12,13,22,2,16,3,21,7
9     22,17,6,20,13,5,7,11,25,15,18,1,10,8,4,9,24
10                  19,2,18,5,7,14,17,21,12,24,25
11                         2,18,11,22,14,6,19,4,8
12          16,17,12,7,8,25,22,6,21,1,14,19,18,11
13                          25,1,21,6,24,18,14,16
14              22,2,16,14,12,9,6,11,13,7,3,17,10
15            18,8,4,23,5,2,11,14,7,13,10,24,1,22
16         12,6,1,15,10,4,21,5,8,2,23,14,18,17,22
17                   14,17,9,2,4,22,19,11,12,21,5
18                19,4,22,12,24,21,17,9,1,14,15,5
19               1,12,2,14,23,16,21,5,17,7,18,8,9
20           9,6,20,7,14,22,12,8,17,18,24,15,16,2
21                          4,17,10,7,6,12,9,21,2
22             3,5,18,10,24,12,1,19,9,23,17,21,22
23                               13,1,5,8,15,6,22
24         6,20,13,1,25,21,12,16,14,10,4,18,19,22
25                      1,13,18,11,23,6,4,8,17,10
Name: smartphone_id, dtype: object

In [16]:
gadget_seen_by_user=train_matrix.columns[train_matrix[train_matrix.index==4].notna().any()].tolist()
gadget_seen_by_user

[1, 2, 4, 5, 8, 10, 12, 13, 15, 18, 19, 20]

In [17]:
users = list(set(train_data['user_id'].tolist()))
users

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [18]:
def User_item_score2(user_list):
    final_list=[]
    for user in user_list:
        
        gadget_seen_by_user=train_matrix.columns[train_matrix[train_matrix.index==user].notna().any()].tolist()
        a=sim_user_8_u[sim_user_8_u.index==user].values #similar users to a particular user
        b=a.squeeze().tolist()
        c=gadget_user[gadget_user.index.isin(b)]
        l=','.join(c.values)
        gadget_seen_by_similar_users=l.split(',')
        gadget_under_considiration=list(set(gadget_seen_by_similar_users)-set(list(map(str,gadget_seen_by_user))))
        gadget_under_considiration=list(map(int, gadget_under_considiration))
        score= {'user_id':[],'item_id':[], 'Rating':[]}

        for item in gadget_under_considiration:
            d=final_user.loc[:,item] #sabai uer le tyo item lai deko ratings
            e=d[d.index.isin(b)] #similar users le deko ratings extract gariyo
            f=e[e.notnull()]
            avg_user=train_data.loc[train_data['user_id']==user,'rating_mean'].values[0]
            index = f.index.values.squeeze().tolist() #neighbour users
            corr=similarity_with_user.loc[user,index]
            fin = pd.concat([f, corr], axis=1)
            fin.columns = ['adg_score','correlation']
            fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
            nume = fin['score'].sum()
            deno = fin['correlation'].sum()
            final_score = avg_user + (nume/deno)
            score['user_id'].append(user)
            score['item_id'].append(item)
            score['Rating'].append(final_score)
      
        final_list.append(score)
    return final_list

In [19]:
predicted = User_item_score2(users)
predicted

[{'user_id': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
  'item_id': [21, 8, 6, 14, 10, 13, 23, 11, 9, 18, 4, 3],
  'Rating': [3.2175417144785343,
   2.9597517754482126,
   3.6678687047419523,
   3.4749480332328364,
   3.465917421941769,
   2.8312775019021954,
   3.318126639723725,
   3.4055591529103904,
   4.0682333599451415,
   3.3786061052486636,
   2.5331839573659036,
   3.258645293919481]},
 {'user_id': [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
  'item_id': [21, 24, 20, 14, 17, 25, 22, 13, 15, 11, 2, 23],
  'Rating': [2.8864951522806526,
   3.448102835757326,
   2.689854163774607,
   2.840010105827087,
   3.5864619167888834,
   3.4843998535914547,
   3.413487095038743,
   3.048483422153953,
   3.6973482418203423,
   3.8827930536992854,
   3.617401975489211,
   3.3846345262442754]},
 {'user_id': [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
  'item_id': [21,
   24,
   15,
   16,
   7,
   5,
   6,
   10,
   25,
   4,
   1,
   20,
   14,
   17,
   9,
   8,
   22,
   12,
   23],
  'Rating': [3.206932078764093,
   3.3739628114409324,
   3.5366733701223105,
   2.876081420898866,
   2.8639695528421543,
   3.395495352154277,
   3.5773402036612234,
   3.40665470468886,
   3.0445795654077115,
   3.031308724585198,
   3.6676859435365627,
   3.1223627025649003,
   3.2706144750179846,
   2.9053756423797887,
   3.295810781391425,
   3.229594605856832,
   2.7807555141464144,
   2.5517845801534014,
   3.2019492148754543]},
 {'user_id': [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
  'item_id': [21, 3, 24, 6, 14, 17, 25, 22, 16, 11, 7, 9, 23],
  'Rating': [3.9565200065056274,
   3.143803383813566,
   3.1175638777740495,
   3.060009695114624,
   3.5275335929282847,
   3.2034914885476646,
   3.2429824210950597,
   3.396881217493706,
   2.8958598867458454,
   3.147551149477186,
   3.136221132467729,
   2.9800526479395644,
   3.2646473131670284]},
 {'user_id': [5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
  'item_id': [21, 24, 17, 25, 13, 15, 19, 18, 4, 3],
  'Rating': [3.5514092811297373,
   3.211685356433637,
   3.0553407982847394,
   3.298549245321794,
   2.7486205004064574,
   3.4546800411054694,
   3.5271814402841533,
   3.1407955788227073,
   2.6950838650845905,
   3.0903122748206027]},
 {'user_id': [6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
  'item_id': [21, 24, 20, 5, 6, 25, 13, 15, 19, 16, 11, 7, 9, 4, 12, 2, 1],
  'Rating': [3.050172812848747,
   3.0896713265574896,
   3.0150873897709367,
   3.155558806498396,
   3.713448347630886,
   2.758528193087904,
   2.740707219179778,
   2.8579915233666737,
   3.1122344446947516,
   3.2258869647342063,
   3.455505037040124,
   2.2918873062361933,
   2.8453088075052837,
   3.4650965687967323,
   3.137156669988387,
   2.875482534477626,
   2.997347300565753]},
 {'user_id': [7, 7, 7, 7, 7, 7, 7],
  'item_id': [8, 14, 25, 18, 12, 23, 1],
  'Rating': [3.21070756672521,
   3.4455977640650026,
   3.3545578145438286,
   3.7918898921790456,
   3.578988643717994,
   3.4586160156868275,
   3.2817100572520124]},
 {'user_id': [8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8],
  'item_id': [8, 24, 20, 5, 6, 14, 17, 10, 25, 15, 19, 11, 9, 18, 4, 1],
  'Rating': [2.9258831436374866,
   3.141526907117189,
   2.9291738928073583,
   3.1223936939509147,
   3.3371057871813097,
   3.4472923498462062,
   3.395009552709387,
   2.8806326535438154,
   2.9714925192292725,
   3.1204615174139647,
   3.063313403018754,
   3.2832324468437584,
   3.0036122280818187,
   2.900982717770471,
   3.009261784201167,
   3.30682209369149]},
 {'user_id': [9, 9, 9, 9, 9, 9, 9, 9],
  'item_id': [21, 14, 19, 16, 23, 12, 2, 3],
  'Rating': [3.6300743664029156,
   3.055408918343329,
   3.3026701512532264,
   3.200384561843699,
   2.674868378888783,
   3.132324551958735,
   3.2966450737528783,
   3.404801955646544]},
 {'user_id': [10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
  'item_id': [8, 20, 6, 10, 22, 13, 15, 16, 11, 23, 9, 4, 3, 1],
  'Rating': [2.834013691017182,
   3.219677712663724,
   2.7047875122495313,
   2.5967979147663613,
   3.485440048359463,
   2.4563169004850667,
   3.0800033293407156,
   2.7126635094802474,
   3.006390544625735,
   3.199499261539279,
   2.765380810956951,
   2.834564773177756,
   2.8311141042922947,
   2.6066932876231026]},
 {'user_id': [11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11],
  'item_id': [21, 24, 20, 5, 17, 10, 25, 13, 15, 16, 23, 7, 9, 12, 3, 1],
  'Rating': [3.2233355514514392,
   3.224698729203604,
   3.1481370350957225,
   3.6585101488275766,
   3.156700692932889,
   3.8515317693691205,
   2.900961382278287,
   3.0883252454171193,
   3.055875071089918,
   2.799661566947896,
   2.667068072444802,
   3.3501752844838615,
   2.8663022114177106,
   3.0761574057295014,
   3.227714887359371,
   3.293511992800823]},
 {'user_id': [12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12],
  'item_id': [24, 20, 5, 10, 13, 15, 23, 9, 4, 2, 3],
  'Rating': [3.180971232554648,
   3.4950550009814796,
   3.4855742280975477,
   2.7936330000096925,
   2.419806248818225,
   3.235824559073523,
   3.6340660333425605,
   3.2820703057696403,
   3.1892307406357543,
   3.361360023092288,
   3.1616942355846973]},
 {'user_id': [13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13],
  'item_id': [8, 20, 5, 17, 10, 22, 13, 15, 19, 23, 11, 7, 9, 4, 12, 2, 3],
  'Rating': [3.7060730262946384,
   3.0911983131764456,
   3.6771181107658593,
   3.427795645705115,
   3.4597422888421687,
   2.9619033689638297,
   3.163572314111535,
   3.1113200090227497,
   3.1540702001691736,
   3.501969024443814,
   3.5559617154008722,
   2.6842863508010595,
   3.3655659912011315,
   3.289854673580326,
   2.605841589700309,
   3.6946914200988634,
   3.3870296549255867]},
 {'user_id': [14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14],
  'item_id': [21, 8, 24, 20, 5, 25, 15, 19, 18, 4, 23, 1],
  'Rating': [3.691074258664326,
   3.294655761127095,
   3.61059620940667,
   2.728696750848563,
   3.1867863743969855,
   2.859759603098084,
   3.0820831788456866,
   3.3943688873010567,
   3.0497102277875454,
   2.8700266104343095,
   3.4527658460942234,
   3.027278236942753]},
 {'user_id': [15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15],
  'item_id': [21, 20, 6, 17, 25, 15, 19, 16, 9, 12, 3],
  'Rating': [3.660023155068674,
   3.1661067520253803,
   3.515944177684337,
   3.779187812810086,
   3.298986269780813,
   3.1922794515497257,
   2.848400324299641,
   2.9512186531992843,
   3.3159723966871004,
   3.1158218067682197,
   3.199939678818267]},
 {'user_id': [16, 16, 16, 16, 16, 16, 16, 16, 16, 16],
  'item_id': [24, 20, 25, 13, 19, 16, 11, 7, 9, 3],
  'Rating': [2.894073670976,
   2.8749204332638336,
   2.969265025987562,
   2.4941833599773346,
   2.742046952282218,
   2.385256488806145,
   2.977664557363852,
   3.0637234895297194,
   2.933333578098377,
   3.0045845670982314]},
 {'user_id': [17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17],
  'item_id': [3, 8, 24, 20, 6, 10, 25, 13, 16, 7, 18, 23, 1],
  'Rating': [2.9956031280067505,
   2.6812226389629377,
   3.3543174569493757,
   2.875864628427882,
   3.0588937962960348,
   2.886771162968622,
   3.0353191468324394,
   2.578797022391835,
   2.9401800287356465,
   3.4695982082243884,
   2.3447985303007464,
   3.5632461648543208,
   3.0271825924335607]},
 {'user_id': [18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18],
  'item_id': [8, 20, 6, 10, 25, 13, 16, 11, 23, 7, 18, 2, 3],
  'Rating': [2.7819106318014706,
   3.2516560880473997,
   3.411897503180457,
   3.0949773688988187,
   2.9867412880985444,
   2.332506531015385,
   3.0618681420699017,
   2.903866738011635,
   2.7589252274115483,
   3.1680536270199475,
   3.0400050607596802,
   2.6773869230468,
   3.024054409075023]},
 {'user_id': [19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19],
  'item_id': [24, 20, 6, 10, 25, 22, 15, 19, 13, 11, 4, 3],
  'Rating': [3.6404513942732972,
   3.3941009581716117,
   4.097953096786351,
   4.197254867007681,
   2.4233462929773504,
   3.1668105179407062,
   2.9883937591537597,
   3.4194775920435556,
   3.6154425991754215,
   3.862694433383862,
   3.6625909880677816,
   3.527530262461812]},
 {'user_id': [20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20],
  'item_id': [21, 5, 10, 25, 13, 19, 23, 11, 4, 3, 1],
  'Rating': [3.4409928634815015,
   3.3062235988945883,
   3.789165170799951,
   3.0885142755829333,
   2.58265833179093,
   3.037332877305526,
   2.648708216518373,
   3.195241273201807,
   3.343222524705281,
   3.2851585193271813,
   3.3101436524061607]},
 {'user_id': [21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21],
  'item_id': [8, 24, 20, 5, 14, 25, 22, 13, 15, 19, 16, 11, 23, 18, 3, 1],
  'Rating': [4.178826813359452,
   3.3910822283263893,
   2.7536362972305564,
   3.0949562528168006,
   2.8072491529363695,
   3.2549391148800186,
   3.3197665530098948,
   2.906396273350496,
   2.831973929274826,
   3.3094913212398778,
   2.9531645653979406,
   3.240728749065467,
   2.5356866038565897,
   3.205300094217072,
   3.316493637961311,
   2.966272964230015]},
 {'user_id': [22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22],
  'item_id': [8, 20, 6, 14, 25, 13, 15, 16, 11, 7, 4, 2],
  'Rating': [3.0049755441423627,
   3.411796077013865,
   2.9314876624228163,
   3.2955496113956126,
   3.184210719805893,
   2.6351012224455155,
   3.3599317369166504,
   2.8389067399919843,
   3.297647871208269,
   3.226127271364408,
   2.664708748070411,
   2.575197740338074]},
 {'user_id': [23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23],
  'item_id': [21, 20, 14, 17, 10, 25, 19, 16, 11, 23, 7, 18, 4, 9, 12, 2, 3],
  'Rating': [3.353467771960398,
   2.846827039274812,
   2.87940168866358,
   2.622816523361996,
   2.959606849490232,
   2.9700673935374877,
   2.925888631759631,
   2.1674189026233805,
   3.0951377084969196,
   3.0183086409702837,
   2.944454451034056,
   3.1961148861036324,
   2.7753081829609956,
   2.7397236030939216,
   2.205549421950266,
   3.3167690568189614,
   3.0307172464943233]},
 {'user_id': [24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24],
  'item_id': [3, 8, 24, 5, 17, 15, 11, 7, 9, 2, 23],
  'Rating': [3.15222384324777,
   3.1256946078822523,
   3.3798338878349883,
   3.6761594795611248,
   3.6011612782334272,
   2.956776191480338,
   3.24269328537073,
   3.2184203123495694,
   3.148509554389239,
   2.5481502242204748,
   3.3406880683632787]},
 {'user_id': [25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25],
  'item_id': [21, 24, 20, 5, 14, 25, 22, 15, 19, 16, 7, 9, 12, 2, 3],
  'Rating': [3.1557720368398585,
   3.379181531068155,
   3.355143842397123,
   3.5696943425648735,
   2.931852266300216,
   3.1279366505984894,
   2.985946422559149,
   3.4745861729894965,
   3.0896295939370577,
   3.2562606876014617,
   3.0625090982937806,
   3.052576938529798,
   2.958510736933602,
   3.339266883788284,
   3.4945144729058386]}]

In [20]:
def User_item_score2(user_list):
    final_list=[]
    for user in user_list:
        
        gadget_seen_by_user=train_matrix.columns[train_matrix[train_matrix.index==user].notna().any()].tolist()
        a=sim_user_8_u[sim_user_8_u.index==user].values #similar users to a particular user
        b=a.squeeze().tolist()
        c=gadget_user[gadget_user.index.isin(b)]
        l=','.join(c.values)
        gadget_seen_by_similar_users=l.split(',')
        gadget_under_considiration=list(set(gadget_seen_by_similar_users)-set(list(map(str,gadget_seen_by_user))))
        gadget_under_considiration=list(map(int, gadget_under_considiration))
        score= {'user_id':[],'item_id':[], 'Rating':[]}

        for item in gadget_under_considiration:
            d=final_user.loc[:,item] #sabai uer le tyo item lai deko ratings
            e=d[d.index.isin(b)] #similar users le deko ratings extract gariyo
            f=e[e.notnull()]
            avg_user=train_data.loc[train_data['user_id']==user,'rating_mean'].values[0]
            index = f.index.values.squeeze().tolist() #neighbour users
            corr=similarity_with_user.loc[user,index]
            fin = pd.concat([f, corr], axis=1)
            fin.columns = ['adg_score','correlation']
            fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
            nume = fin['score'].sum()
            deno = fin['correlation'].sum()
            final_score = avg_user + (nume/deno)
            score['user_id'].append(user)
            score['item_id'].append(item)
            score['Rating'].append(final_score)
      
        final_list.append(score)
    return final_list

In [21]:
predicted = User_item_score2(users)
predicted

[{'user_id': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
  'item_id': [21, 8, 6, 14, 10, 13, 23, 11, 9, 18, 4, 3],
  'Rating': [3.2175417144785343,
   2.9597517754482126,
   3.6678687047419523,
   3.4749480332328364,
   3.465917421941769,
   2.8312775019021954,
   3.318126639723725,
   3.4055591529103904,
   4.0682333599451415,
   3.3786061052486636,
   2.5331839573659036,
   3.258645293919481]},
 {'user_id': [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
  'item_id': [21, 24, 20, 14, 17, 25, 22, 13, 15, 11, 2, 23],
  'Rating': [2.8864951522806526,
   3.448102835757326,
   2.689854163774607,
   2.840010105827087,
   3.5864619167888834,
   3.4843998535914547,
   3.413487095038743,
   3.048483422153953,
   3.6973482418203423,
   3.8827930536992854,
   3.617401975489211,
   3.3846345262442754]},
 {'user_id': [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
  'item_id': [21,
   24,
   15,
   16,
   7,
   5,
   6,
   10,
   25,
   4,
   1,
   20,
   14,
   17,
   9,
   8,
   22,
   12,
   23],
  'Rating': [3.206932078764093,
   3.3739628114409324,
   3.5366733701223105,
   2.876081420898866,
   2.8639695528421543,
   3.395495352154277,
   3.5773402036612234,
   3.40665470468886,
   3.0445795654077115,
   3.031308724585198,
   3.6676859435365627,
   3.1223627025649003,
   3.2706144750179846,
   2.9053756423797887,
   3.295810781391425,
   3.229594605856832,
   2.7807555141464144,
   2.5517845801534014,
   3.2019492148754543]},
 {'user_id': [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
  'item_id': [21, 3, 24, 6, 14, 17, 25, 22, 16, 11, 7, 9, 23],
  'Rating': [3.9565200065056274,
   3.143803383813566,
   3.1175638777740495,
   3.060009695114624,
   3.5275335929282847,
   3.2034914885476646,
   3.2429824210950597,
   3.396881217493706,
   2.8958598867458454,
   3.147551149477186,
   3.136221132467729,
   2.9800526479395644,
   3.2646473131670284]},
 {'user_id': [5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
  'item_id': [21, 24, 17, 25, 13, 15, 19, 18, 4, 3],
  'Rating': [3.5514092811297373,
   3.211685356433637,
   3.0553407982847394,
   3.298549245321794,
   2.7486205004064574,
   3.4546800411054694,
   3.5271814402841533,
   3.1407955788227073,
   2.6950838650845905,
   3.0903122748206027]},
 {'user_id': [6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
  'item_id': [21, 24, 20, 5, 6, 25, 13, 15, 19, 16, 11, 7, 9, 4, 12, 2, 1],
  'Rating': [3.050172812848747,
   3.0896713265574896,
   3.0150873897709367,
   3.155558806498396,
   3.713448347630886,
   2.758528193087904,
   2.740707219179778,
   2.8579915233666737,
   3.1122344446947516,
   3.2258869647342063,
   3.455505037040124,
   2.2918873062361933,
   2.8453088075052837,
   3.4650965687967323,
   3.137156669988387,
   2.875482534477626,
   2.997347300565753]},
 {'user_id': [7, 7, 7, 7, 7, 7, 7],
  'item_id': [8, 14, 25, 18, 12, 23, 1],
  'Rating': [3.21070756672521,
   3.4455977640650026,
   3.3545578145438286,
   3.7918898921790456,
   3.578988643717994,
   3.4586160156868275,
   3.2817100572520124]},
 {'user_id': [8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8],
  'item_id': [8, 24, 20, 5, 6, 14, 17, 10, 25, 15, 19, 11, 9, 18, 4, 1],
  'Rating': [2.9258831436374866,
   3.141526907117189,
   2.9291738928073583,
   3.1223936939509147,
   3.3371057871813097,
   3.4472923498462062,
   3.395009552709387,
   2.8806326535438154,
   2.9714925192292725,
   3.1204615174139647,
   3.063313403018754,
   3.2832324468437584,
   3.0036122280818187,
   2.900982717770471,
   3.009261784201167,
   3.30682209369149]},
 {'user_id': [9, 9, 9, 9, 9, 9, 9, 9],
  'item_id': [21, 14, 19, 16, 23, 12, 2, 3],
  'Rating': [3.6300743664029156,
   3.055408918343329,
   3.3026701512532264,
   3.200384561843699,
   2.674868378888783,
   3.132324551958735,
   3.2966450737528783,
   3.404801955646544]},
 {'user_id': [10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
  'item_id': [8, 20, 6, 10, 22, 13, 15, 16, 11, 23, 9, 4, 3, 1],
  'Rating': [2.834013691017182,
   3.219677712663724,
   2.7047875122495313,
   2.5967979147663613,
   3.485440048359463,
   2.4563169004850667,
   3.0800033293407156,
   2.7126635094802474,
   3.006390544625735,
   3.199499261539279,
   2.765380810956951,
   2.834564773177756,
   2.8311141042922947,
   2.6066932876231026]},
 {'user_id': [11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11],
  'item_id': [21, 24, 20, 5, 17, 10, 25, 13, 15, 16, 23, 7, 9, 12, 3, 1],
  'Rating': [3.2233355514514392,
   3.224698729203604,
   3.1481370350957225,
   3.6585101488275766,
   3.156700692932889,
   3.8515317693691205,
   2.900961382278287,
   3.0883252454171193,
   3.055875071089918,
   2.799661566947896,
   2.667068072444802,
   3.3501752844838615,
   2.8663022114177106,
   3.0761574057295014,
   3.227714887359371,
   3.293511992800823]},
 {'user_id': [12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12],
  'item_id': [24, 20, 5, 10, 13, 15, 23, 9, 4, 2, 3],
  'Rating': [3.180971232554648,
   3.4950550009814796,
   3.4855742280975477,
   2.7936330000096925,
   2.419806248818225,
   3.235824559073523,
   3.6340660333425605,
   3.2820703057696403,
   3.1892307406357543,
   3.361360023092288,
   3.1616942355846973]},
 {'user_id': [13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13,
   13],
  'item_id': [8, 20, 5, 17, 10, 22, 13, 15, 19, 23, 11, 7, 9, 4, 12, 2, 3],
  'Rating': [3.7060730262946384,
   3.0911983131764456,
   3.6771181107658593,
   3.427795645705115,
   3.4597422888421687,
   2.9619033689638297,
   3.163572314111535,
   3.1113200090227497,
   3.1540702001691736,
   3.501969024443814,
   3.5559617154008722,
   2.6842863508010595,
   3.3655659912011315,
   3.289854673580326,
   2.605841589700309,
   3.6946914200988634,
   3.3870296549255867]},
 {'user_id': [14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14],
  'item_id': [21, 8, 24, 20, 5, 25, 15, 19, 18, 4, 23, 1],
  'Rating': [3.691074258664326,
   3.294655761127095,
   3.61059620940667,
   2.728696750848563,
   3.1867863743969855,
   2.859759603098084,
   3.0820831788456866,
   3.3943688873010567,
   3.0497102277875454,
   2.8700266104343095,
   3.4527658460942234,
   3.027278236942753]},
 {'user_id': [15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15],
  'item_id': [21, 20, 6, 17, 25, 15, 19, 16, 9, 12, 3],
  'Rating': [3.660023155068674,
   3.1661067520253803,
   3.515944177684337,
   3.779187812810086,
   3.298986269780813,
   3.1922794515497257,
   2.848400324299641,
   2.9512186531992843,
   3.3159723966871004,
   3.1158218067682197,
   3.199939678818267]},
 {'user_id': [16, 16, 16, 16, 16, 16, 16, 16, 16, 16],
  'item_id': [24, 20, 25, 13, 19, 16, 11, 7, 9, 3],
  'Rating': [2.894073670976,
   2.8749204332638336,
   2.969265025987562,
   2.4941833599773346,
   2.742046952282218,
   2.385256488806145,
   2.977664557363852,
   3.0637234895297194,
   2.933333578098377,
   3.0045845670982314]},
 {'user_id': [17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17],
  'item_id': [3, 8, 24, 20, 6, 10, 25, 13, 16, 7, 18, 23, 1],
  'Rating': [2.9956031280067505,
   2.6812226389629377,
   3.3543174569493757,
   2.875864628427882,
   3.0588937962960348,
   2.886771162968622,
   3.0353191468324394,
   2.578797022391835,
   2.9401800287356465,
   3.4695982082243884,
   2.3447985303007464,
   3.5632461648543208,
   3.0271825924335607]},
 {'user_id': [18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18],
  'item_id': [8, 20, 6, 10, 25, 13, 16, 11, 23, 7, 18, 2, 3],
  'Rating': [2.7819106318014706,
   3.2516560880473997,
   3.411897503180457,
   3.0949773688988187,
   2.9867412880985444,
   2.332506531015385,
   3.0618681420699017,
   2.903866738011635,
   2.7589252274115483,
   3.1680536270199475,
   3.0400050607596802,
   2.6773869230468,
   3.024054409075023]},
 {'user_id': [19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19],
  'item_id': [24, 20, 6, 10, 25, 22, 15, 19, 13, 11, 4, 3],
  'Rating': [3.6404513942732972,
   3.3941009581716117,
   4.097953096786351,
   4.197254867007681,
   2.4233462929773504,
   3.1668105179407062,
   2.9883937591537597,
   3.4194775920435556,
   3.6154425991754215,
   3.862694433383862,
   3.6625909880677816,
   3.527530262461812]},
 {'user_id': [20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20],
  'item_id': [21, 5, 10, 25, 13, 19, 23, 11, 4, 3, 1],
  'Rating': [3.4409928634815015,
   3.3062235988945883,
   3.789165170799951,
   3.0885142755829333,
   2.58265833179093,
   3.037332877305526,
   2.648708216518373,
   3.195241273201807,
   3.343222524705281,
   3.2851585193271813,
   3.3101436524061607]},
 {'user_id': [21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21],
  'item_id': [8, 24, 20, 5, 14, 25, 22, 13, 15, 19, 16, 11, 23, 18, 3, 1],
  'Rating': [4.178826813359452,
   3.3910822283263893,
   2.7536362972305564,
   3.0949562528168006,
   2.8072491529363695,
   3.2549391148800186,
   3.3197665530098948,
   2.906396273350496,
   2.831973929274826,
   3.3094913212398778,
   2.9531645653979406,
   3.240728749065467,
   2.5356866038565897,
   3.205300094217072,
   3.316493637961311,
   2.966272964230015]},
 {'user_id': [22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22],
  'item_id': [8, 20, 6, 14, 25, 13, 15, 16, 11, 7, 4, 2],
  'Rating': [3.0049755441423627,
   3.411796077013865,
   2.9314876624228163,
   3.2955496113956126,
   3.184210719805893,
   2.6351012224455155,
   3.3599317369166504,
   2.8389067399919843,
   3.297647871208269,
   3.226127271364408,
   2.664708748070411,
   2.575197740338074]},
 {'user_id': [23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23,
   23],
  'item_id': [21, 20, 14, 17, 10, 25, 19, 16, 11, 23, 7, 18, 4, 9, 12, 2, 3],
  'Rating': [3.353467771960398,
   2.846827039274812,
   2.87940168866358,
   2.622816523361996,
   2.959606849490232,
   2.9700673935374877,
   2.925888631759631,
   2.1674189026233805,
   3.0951377084969196,
   3.0183086409702837,
   2.944454451034056,
   3.1961148861036324,
   2.7753081829609956,
   2.7397236030939216,
   2.205549421950266,
   3.3167690568189614,
   3.0307172464943233]},
 {'user_id': [24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24],
  'item_id': [3, 8, 24, 5, 17, 15, 11, 7, 9, 2, 23],
  'Rating': [3.15222384324777,
   3.1256946078822523,
   3.3798338878349883,
   3.6761594795611248,
   3.6011612782334272,
   2.956776191480338,
   3.24269328537073,
   3.2184203123495694,
   3.148509554389239,
   2.5481502242204748,
   3.3406880683632787]},
 {'user_id': [25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25],
  'item_id': [21, 24, 20, 5, 14, 25, 22, 15, 19, 16, 7, 9, 12, 2, 3],
  'Rating': [3.1557720368398585,
   3.379181531068155,
   3.355143842397123,
   3.5696943425648735,
   2.931852266300216,
   3.1279366505984894,
   2.985946422559149,
   3.4745861729894965,
   3.0896295939370577,
   3.2562606876014617,
   3.0625090982937806,
   3.052576938529798,
   2.958510736933602,
   3.339266883788284,
   3.4945144729058386]}]

In [22]:
df=pd.json_normalize(predicted,  record_path='user_id')
df

      0
0     1
1     1
2     1
3     1
4     1
..   ..
320  25
321  25
322  25
323  25
324  25

[325 rows x 1 columns]

In [23]:
df1=pd.json_normalize(predicted,  record_path='item_id')
df1

      0
0    21
1     8
2     6
3    14
4    10
..   ..
320   7
321   9
322  12
323   2
324   3

[325 rows x 1 columns]

In [24]:
df2=pd.json_normalize(predicted,  record_path='Rating')
df2

            0
0    3.217542
1    2.959752
2    3.667869
3    3.474948
4    3.465917
..        ...
320  3.062509
321  3.052577
322  2.958511
323  3.339267
324  3.494514

[325 rows x 1 columns]

In [25]:
df3= pd.concat([df,df1,df2],axis=1)
df3.columns=['user_id','item_id','predicted ratings']
df4=df3.loc[:,['user_id','item_id']]
df4
df3

     user_id  item_id  predicted ratings
0          1       21           3.217542
1          1        8           2.959752
2          1        6           3.667869
3          1       14           3.474948
4          1       10           3.465917
..       ...      ...                ...
320       25        7           3.062509
321       25        9           3.052577
322       25       12           2.958511
323       25        2           3.339267
324       25        3           3.494514

[325 rows x 3 columns]

In [26]:
dict1={'user_id':[],'item_id':[],'Actual':[],'Predicted':[]}
for i ,j, k in test_rating_actual.values:
    for l,m,n in df3.values:
        if(i==l and j==m):
            dict1['user_id'].append(i)
            dict1['item_id'].append(j)
            dict1['Actual'].append(k)
            dict1['Predicted'].append(n)

In [27]:
dict1df=pd.DataFrame(dict1)
dict1df

     user_id  item_id  Actual  Predicted
0        2.0     23.0     3.5   3.384635
1       23.0      4.0     4.0   2.775308
2       10.0     15.0     2.5   3.080003
3        9.0     19.0     1.5   3.302670
4        3.0      6.0     4.0   3.577340
..       ...      ...     ...        ...
120      3.0      4.0     5.0   3.031309
121      1.0      9.0     3.5   4.068233
122     25.0      7.0     2.5   3.062509
123     16.0      9.0     5.0   2.933334
124     12.0     10.0     4.0   2.793633

[125 rows x 4 columns]

In [28]:
#RMSE CALCULATION
pred= dict1df['Predicted'].values
target= dict1df['Actual'].values

In [29]:
from sklearn.metrics import mean_squared_error
from math import sqrt
def rmse(predict,targets):
    return sqrt(mean_squared_error(predict,targets))

In [30]:
print(rmse(pred, target))

1.2182805343354866

In [31]:
df= pd.json_normalize(predicted,max_level=3)

#df= pd.json_normalize(predicted, 'user_id','item_id',['Rating'])
df
#for i in predicted:
    
    #df=pd.DataFrame(i)
    #print(df)

,user_id,item_id,Rating
0,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[21, 8, 6, 14, 10, 13, 23, 11, 9, 18, 4, 3]","[3.2175417144785343, 2.9597517754482126, 3.667..."
1,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]","[21, 24, 20, 14, 17, 25, 22, 13, 15, 11, 2, 23]","[2.8864951522806526, 3.448102835757326, 2.6898..."
2,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...","[21, 24, 15, 16, 7, 5, 6, 10, 25, 4, 1, 20, 14...","[3.206932078764093, 3.3739628114409324, 3.5366..."
3,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]","[21, 3, 24, 6, 14, 17, 25, 22, 16, 11, 7, 9, 23]","[3.9565200065056274, 3.143803383813566, 3.1175..."
4,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]","[21, 24, 17, 25, 13, 15, 19, 18, 4, 3]","[3.5514092811297373, 3.211685356433637, 3.0553..."
5,"[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, ...","[21, 24, 20, 5, 6, 25, 13, 15, 19, 16, 11, 7, ...","[3.050172812848747, 3.0896713265574896, 3.0150..."
6,"[7, 7, 7, 7, 7, 7, 7]","[8, 14, 25, 18, 12, 23, 1]","[3.21070756672521, 3.4455977640650026, 3.35455..."
7,"[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8]","[8, 24, 20, 5, 6, 14, 17, 10, 25, 15, 19, 11, ...","[2.9258831436374866, 3.141526907117189, 2.9291..."
8,"[9, 9, 9, 9, 9, 9, 9, 9]","[21, 14, 19, 16, 23, 12, 2, 3]","[3.6300743664029156, 3.055408918343329, 3.3026..."
9,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","[8, 20, 6, 10, 22, 13, 15, 16, 11, 23, 9, 4, 3...","[2.834013691017182, 3.219677712663724, 2.70478..."
10,"[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1...","[21, 24, 20, 5, 17, 10, 25, 13, 15, 16, 23, 7,...","[3.2233355514514392, 3.224698729203604, 3.1481..."
11,"[12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12]","[24, 20, 5, 10, 13, 15, 23, 9, 4, 2, 3]","[3.180971232554648, 3.4950550009814796, 3.4855..."
12,"[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...","[8, 20, 5, 17, 10, 22, 13, 15, 19, 23, 11, 7, ...","[3.7060730262946384, 3.0911983131764456, 3.677..."
13,"[14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14]","[21, 8, 24, 20, 5, 25, 15, 19, 18, 4, 23, 1]","[3.691074258664326, 3.294655761127095, 3.61059..."
14,"[15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15]","[21, 20, 6, 17, 25, 15, 19, 16, 9, 12, 3]","[3.660023155068674, 3.1661067520253803, 3.5159..."
15,"[16, 16, 16, 16, 16, 16, 16, 16, 16, 16]","[24, 20, 25, 13, 19, 16, 11, 7, 9, 3]","[2.894073670976, 2.8749204332638336, 2.9692650..."
16,"[17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 1...","[3, 8, 24, 20, 6, 10, 25, 13, 16, 7, 18, 23, 1]","[2.9956031280067505, 2.6812226389629377, 3.354..."
17,"[18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[8, 20, 6, 10, 25, 13, 16, 11, 23, 7, 18, 2, 3]","[2.7819106318014706, 3.2516560880473997, 3.411..."
18,"[19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19]","[24, 20, 6, 10, 25, 22, 15, 19, 13, 11, 4, 3]","[3.6404513942732972, 3.3941009581716117, 4.097..."
19,"[20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20]","[21, 5, 10, 25, 13, 19, 23, 11, 4, 3, 1]","[3.4409928634815015, 3.3062235988945883, 3.789..."
20,"[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[8, 24, 20, 5, 14, 25, 22, 13, 15, 19, 16, 11,...","[4.178826813359452, 3.3910822283263893, 2.7536..."
21,"[22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22]","[8, 20, 6, 14, 25, 13, 15, 16, 11, 7, 4, 2]","[3.0049755441423627, 3.411796077013865, 2.9314..."
22,"[23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 2...","[21, 20, 14, 17, 10, 25, 19, 16, 11, 23, 7, 18...","[3.353467771960398, 2.846827039274812, 2.87940..."
23,"[24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24]","[3, 8, 24, 5, 17, 15, 11, 7, 9, 2, 23]","[3.15222384324777, 3.1256946078822523, 3.37983..."
24,"[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[21, 24, 20, 5, 14, 25, 22, 15, 19, 16, 7, 9, ...","[3.1557720368398585, 3.379181531068155, 3.3551..."